In [2]:
import pyspark
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)
#jan = spark.read.csv('yellow_tripdata_2017-01.csv', header=True, inferSchema = True)
#feb = spark.read.csv('yellow_tripdata_2017-02.csv', header=True, inferSchema = True)
jan = spark.read.csv('Jan17.csv', header=True, inferSchema = True)
feb = spark.read.csv('Feb17.csv', header=True, inferSchema = True)
display(jan)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local) created by __init__ at <ipython-input-1-6e15a40c594c>:4

In [3]:
vertexP = jan.select("PULocationID").distinct()
vertexP = vertexP.selectExpr("PULocationID as id")
print(vertexP.count())
vertexD = jan.select("DOLocationID").distinct()
vertexD = vertexD.selectExpr("DOLocationID as id")
print(vertexD.count())
if vertexD.count() > vertexP.count():
  vertex = vertexD.unionAll(vertexP)
else : vertex = vertexP.unionAll(vertexD)
print(vertex.count())
vertex = vertex.select("id").distinct()
print(vertex.count())
vertex.show()

112
143
255
157
+---+
| id|
+---+
|148|
|243|
|137|
| 65|
|255|
|133|
| 78|
|211|
|193|
|115|
|210|
| 26|
|192|
|159|
|236|
| 12|
|223|
| 91|
|209|
|128|
+---+
only showing top 20 rows

In [4]:
Edge = jan.select('PULocationID', 'DOLocationID')
Edge.groupBy('PULocationID', 'DOLocationID')
Edge = Edge.selectExpr("PULocationID as src", "DOLocationID as dst")
edge = jan.groupBy('PULocationID', 'DOLocationID').count()
edge = edge.selectExpr("PULocationID as src", "DOLocationID as dst", "count as weight")
edge.show()

+---+---+------+
|src|dst|weight|
+---+---+------+
| 25| 61|     1|
|236|238|     3|
| 49| 49|     1|
|163|263|     1|
|229| 36|     1|
|162| 80|     1|
| 43|  7|     1|
|249|107|     2|
|170|140|     1|
|238|120|     1|
|148|249|     1|
|230|162|     1|
| 68| 74|     1|
|158|234|     1|
|132|132|     1|
|158| 87|     1|
| 48| 75|     2|
|239|234|     1|
| 45| 71|     1|
|129| 48|     1|
+---+---+------+
only showing top 20 rows

In [5]:
from pyspark.sql import SQLContext
from pyspark import SparkContext
from graphframes import * 

graph = GraphFrame(vertex,Edge)
vertex.cache()
Edge.cache()

Py4JJavaError: An error occurred while calling o85.loadClass.
: java.lang.ClassNotFoundException: org.graphframes.GraphFramePythonAPI
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:357)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [6]:
spark.stop()

In [8]:
loc = spark.read.csv('taxi _zone_lookup.csv', header=True, inferSchema = True)

jan = jan.drop('VendorID','store_and_fwd_flag' ,'improvement_surcharge')

In [12]:
import pyspark.sql.functions
split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))
display(jan)

DataFrame[tpep_pickup_datetime: string, tpep_dropoff_datetime: string, passenger_count: int, trip_distance: double, RatecodeID: int, PULocationID: int, DOLocationID: int, payment_type: int, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, total_amount: double, PUDate: string, PUTime: string, DODate: string, DOTime: string]

In [13]:
jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')
jan.show()

+---------------+-------------+----------+------------+------------+------------+-----------+-----+-------+----------+------------+------------+--------+------+--------+------+
|passenger_count|trip_distance|RatecodeID|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|total_amount|  PUDate|PUTime|  DODate|DOTime|
+---------------+-------------+----------+------------+------------+------------+-----------+-----+-------+----------+------------+------------+--------+------+--------+------+
|              1|          3.3|         1|         263|         161|           1|       12.5|  0.0|    0.5|       2.0|         0.0|        15.3|09-01-17| 11:13|09-01-17| 11:25|
|              1|          0.9|         1|         186|         234|           1|        5.0|  0.0|    0.5|      1.45|         0.0|        7.25|09-01-17| 11:32|09-01-17| 11:36|
|              1|          1.1|         1|         164|         161|           1|        5.5|  0.0|    0.5|       1.0|         0.0|         7.3|09-01-17| 11:38|09-01-17| 11:42|
|              1|          1.1|         1|         236|          75|           1|        6.0|  0.0|    0.5|       1.7|         0.0|         8.5|09-01-17| 11:52|09-01-17| 11:57|
|              1|         0.02|         2|         249|         234|           2|       52.0|  0.0|    0.5|       0.0|         0.0|        52.8|01-01-17|  0:00|01-01-17|  0:00|
|              1|          0.5|         1|          48|          48|           2|        4.0|  0.5|    0.5|       0.0|         0.0|         5.3|01-01-17|  0:00|01-01-17|  0:03|
|              4|         7.75|         1|         186|          36|           1|       22.0|  0.5|    0.5|      4.66|         0.0|       27.96|01-01-17|  0:00|01-01-17|  0:39|
|              1|          0.8|         1|         162|         161|           1|        6.0|  0.5|    0.5|      1.45|         0.0|        8.75|01-01-17|  0:00|01-01-17|  0:06|
|              2|          0.9|         1|          48|          50|           1|        7.0|  0.5|    0.5|       0.0|         0.0|         8.3|01-01-17|  0:00|01-01-17|  0:08|
|              5|         1.76|         1|         140|          74|           2|        7.0|  0.5|    0.5|       0.0|         0.0|         8.3|01-01-17|  0:00|01-01-17|  0:05|
|              1|         8.47|         1|         138|         262|           1|       24.0|  0.5|    0.5|      7.71|        5.54|       38.55|01-01-17|  0:00|01-01-17|  0:15|
|              2|          2.4|         1|         142|         236|           2|       10.5|  0.5|    0.5|       0.0|         0.0|        11.8|01-01-17|  0:00|01-01-17|  0:11|
|              2|         12.6|         5|         161|         265|           1|       60.0|  0.0|    0.0|      10.0|         0.0|        70.3|01-01-17|  0:00|01-01-17|  0:23|
|              1|          0.9|         1|         234|         186|           1|        7.0|  0.5|    0.5|      2.05|         0.0|       10.35|01-01-17|  0:00|01-01-17|  0:08|
|              4|         2.43|         1|         141|         107|           1|        9.5|  0.5|    0.5|       2.7|         0.0|        13.5|01-01-17|  0:00|01-01-17|  0:09|
|              2|          2.6|         1|          79|         163|           1|       12.5|  0.5|    0.5|      2.76|         0.0|       16.56|01-01-17|  0:00|01-01-17|  0:16|
|              5|         4.25|         1|         148|          36|           2|       16.5|  0.5|    0.5|       0.0|         0.0|        17.8|01-01-17|  0:00|01-01-17|  0:18|
|              1|         0.65|         1|          48|          68|           1|        6.5|  0.5|    0.5|       1.7|         0.0|         9.5|01-01-17|  0:00|01-01-17|  0:07|
|              1|         3.42|         1|         230|         148|           1|       22.5|  0.5|    0.5|       0.0|         0.0|        23.8|01-01-17|  0:00|01-01-17|  0:34|
|              1|          6.6|         1|         186|         232|           2|       23.0|  0.5|    0.5|       0.0|         0.0|        24.3|01-01-17|  0:00|01-01-17|  0:24|
+---------------+-------------+----------+------------+------------+------------+-----------+-----+-------+----------+------------+------------+--------+------+--------+------+
only showing top 20 rows

In [14]:
df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+--------+------+--------+------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|  PUDate|PUTime|  DODate|DOTime|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+--------+------+--------+------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|      Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|09-01-17| 11:13|09-01-17| 11:25|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|            Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|09-01-17| 11:32|09-01-17| 11:36|
|    164|Manhattan|       Midtown South|    161|Manhattan|      Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|09-01-17| 11:38|09-01-17| 11:42|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|   East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|09-01-17| 11:52|09-01-17| 11:57|
|    249|Manhattan|        West Village|    234|Manhattan|            Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|01-01-17|  0:00|01-01-17|  0:00|
|     48|Manhattan|        Clinton East|     48|Manhattan|        Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|01-01-17|  0:00|01-01-17|  0:03|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|      Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|01-01-17|  0:00|01-01-17|  0:39|
|    162|Manhattan|        Midtown East|    161|Manhattan|      Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|01-01-17|  0:00|01-01-17|  0:06|
|     48|Manhattan|        Clinton East|     50|Manhattan|        Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|01-01-17|  0:00|01-01-17|  0:08|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|   East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|01-01-17|  0:00|01-01-17|  0:05|
|    138|   Queens|   LaGuardia Airport|    262|Manhattan|      Yorkville East|              1|    8.47|         1|  138|  262|           1|24.0|  0.5|    0.5|7.71|5.54|     38.55|01-01-17|  0:00|01-01-17|  0:15|
|    142|Manhattan| Lincoln Square East|    236|Manhattan|Upper East Side N...|              2|     2.4|         1|  142|  236|           2|10.5|  0.5|    0.5| 0.0| 0.0|      11.8|01-01-17|  0:00|01-01-17|  0:11|
|    161|Manhattan|      Midtown Center|    265|  Unknown|                  NA|              2|    12.6|         5|  161|  265|           1|60.0|  0.0|    0.0|10.0| 0.0|      70.3|01-01-17|  0:00|01-01-17|  0:23|
|    234|Manhattan|            Union Sq|    186|Manhattan|Penn Station/Madi...|              1|     0.9|         1|  234|  186|           1| 7.0|  0.5|    0.5|2.05| 0.0|     10.35|01-01-17|  0:00|01-01-17|  0:08|
|    141|Manhattan|     Lenox Hill West|    107|Manhattan|            Gramercy|              4|    2.43|         1|  141|  107|           1| 9.5|  0.5|    0.5| 2.7| 0.0|      13.5|01-01-17|  0:00|01-01-17|  0:09|
|     79|Manhattan|        East Village|    163|Manhattan|       Midtown North|              2|     2.6|         1|   79|  163|           1|12.5|  0.5|    0.5|2.76| 0.0|     16.56|01-01-17|  0:00|01-01-17|  0:16|
|    148|Manhattan|     Lower East Side|     36| Brooklyn|      Bushwick North|              5|    4.25|         1|  148|   36|           2|16.5|  0.5|    0.5| 0.0| 0.0|      17.8|01-01-17|  0:00|01-01-17|  0:18|
|     48|Manhattan|        Clinton East|     68|Manhattan|        East Chelsea|              1|    0.65|         1|   48|   68|           1| 6.5|  0.5|    0.5| 1.7| 0.0|       9.5|01-01-17|  0:00|01-01-17|  0:07|
|    230|Manhattan|Times Sq/Theatre ...|    148|Manhattan|     Lower East Side|              1|    3.42|         1|  230|  148|           1|22.5|  0.5|    0.5| 0.0| 0.0|      23.8|01-01-17|  0:00|01-01-17|  0:34|
|    186|Manhattan|Penn Station/Madi...|    232|Manhattan|Two Bridges/Sewar...|              1|     6.6|         1|  186|  232|           2|23.0|  0.5|    0.5| 0.0| 0.0|      24.3|01-01-17|  0:00|01-01-17|  0:24|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+--------+------+--------+------+
only showing top 20 rows

In [15]:
byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byTotalFare.show()

+--------------------+--------------------+---------------+
|              PUZone|              DOZone|avg(total_fare)|
+--------------------+--------------------+---------------+
|        Midtown East|Meatpacking/West ...|          17.75|
|           Sunnyside|         Old Astoria|           12.8|
|            Gramercy|            Flatiron|            7.3|
|        East Village|         JFK Airport|           62.8|
|     Jackson Heights|        Clinton East|           21.8|
|   East Harlem North|            Union Sq|           22.8|
| Little Italy/NoLiTa|         Murray Hill|           15.3|
|Penn Station/Madi...|        Clinton East|           26.3|
|        Clinton East|   East Harlem South|          14.55|
|         JFK Airport|      Bushwick North|           40.3|
|        East Village|    Sunset Park West|           27.8|
|       Midtown South|   East Harlem South|          15.33|
|Upper East Side S...|Upper West Side N...|          15.38|
|   East Harlem North|     Lenox Hill West|           11.3|
|        Midtown East|     Lenox Hill East|            9.0|
|Washington Height...|Washington Height...|            4.3|
| UN/Turtle Bay South|Meatpacking/West ...|          14.76|
|     Lenox Hill East|Penn Station/Madi...|           12.8|
|             Gowanus|Central Harlem North|           40.8|
|Upper West Side N...|       Midtown North|            9.8|
+--------------------+--------------------+---------------+
only showing top 20 rows

In [16]:
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')
byDistance.show()

+--------------------+--------------------+-------------+
|              PUZone|              DOZone|max(distance)|
+--------------------+--------------------+-------------+
|        Midtown East|Meatpacking/West ...|          2.9|
|           Sunnyside|         Old Astoria|         2.94|
|            Gramercy|            Flatiron|          1.0|
|        East Village|         JFK Airport|         17.7|
|     Jackson Heights|        Clinton East|          6.2|
|   East Harlem North|            Union Sq|         6.28|
| Little Italy/NoLiTa|         Murray Hill|         2.82|
|Penn Station/Madi...|        Clinton East|         2.36|
|        Clinton East|   East Harlem South|          3.9|
|         JFK Airport|      Bushwick North|        14.49|
|        East Village|    Sunset Park West|         8.92|
|       Midtown South|   East Harlem South|          4.0|
|Upper East Side S...|Upper West Side N...|         3.13|
|   East Harlem North|     Lenox Hill West|          3.0|
|        Midtown East|     Lenox Hill East|          2.0|
|Washington Height...|Washington Height...|          0.1|
| UN/Turtle Bay South|Meatpacking/West ...|         2.68|
|     Lenox Hill East|Penn Station/Madi...|         3.47|
|             Gowanus|Central Harlem North|        14.72|
|Upper West Side N...|       Midtown North|         2.01|
+--------------------+--------------------+-------------+
only showing top 20 rows

In [7]:
import pyspark
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)
jan = spark.read.csv('../bigdata/yellow_tripdata_2017-01.csv', header=True, inferSchema = True)
jan.show(10)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2017-01-09 11:13:28|  2017-01-09 11:25:45|              1|          3.3|         1|                 N|         263|         161|           1|       12.5|  0.0|    0.5|       2.0|         0.0|                  0.3|        15.3|
|       1| 2017-01-09 11:32:27|  2017-01-09 11:36:01|              1|          0.9|         1|                 N|         186|         234|           1|        5.0|  0.0|    0.5|      1.45|         0.0|                  0.3|        7.25|
|       1| 2017-01-09 11:38:20|  2017-01-09 11:42:05|              1|          1.1|         1|                 N|         164|         161|           1|        5.5|  0.0|    0.5|       1.0|         0.0|                  0.3|         7.3|
|       1| 2017-01-09 11:52:13|  2017-01-09 11:57:36|              1|          1.1|         1|                 N|         236|          75|           1|        6.0|  0.0|    0.5|       1.7|         0.0|                  0.3|         8.5|
|       2| 2017-01-01 00:00:00|  2017-01-01 00:00:00|              1|         0.02|         2|                 N|         249|         234|           2|       52.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        52.8|
|       1| 2017-01-01 00:00:02|  2017-01-01 00:03:50|              1|          0.5|         1|                 N|          48|          48|           2|        4.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.3|
|       2| 2017-01-01 00:00:02|  2017-01-01 00:39:22|              4|         7.75|         1|                 N|         186|          36|           1|       22.0|  0.5|    0.5|      4.66|         0.0|                  0.3|       27.96|
|       1| 2017-01-01 00:00:03|  2017-01-01 00:06:58|              1|          0.8|         1|                 N|         162|         161|           1|        6.0|  0.5|    0.5|      1.45|         0.0|                  0.3|        8.75|
|       1| 2017-01-01 00:00:05|  2017-01-01 00:08:33|              2|          0.9|         1|                 N|          48|          50|           1|        7.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|
|       2| 2017-01-01 00:00:05|  2017-01-01 00:05:04|              5|         1.76|         1|                 N|         140|          74|           2|        7.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 10 rows

In [9]:
loc = spark.read.csv('taxi _zone_lookup.csv', header=True, inferSchema = True)

In [10]:
import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(1))

Graph = df_joined.select('PUZone', 'DOZone', 'month')
Graph = Graph.groupBy('PUZone', 'DOZone').count()
Graph = Graph.withColumn("month",lit(1))
Graph = Graph.selectExpr("PUZone as src", "DOZone as dst", "count as count", "month as month")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
Graph = Graph.join(byTotalFare,[Graph.src==byTotalFare.PUZone, Graph.dst==byTotalFare.DOZone],'left_outer')
Graph = Graph.drop('PUZone', 'DOZone')
Graph = Graph.withColumnRenamed("avg(total_fare)", "avg_fare")

Graph.show()

+--------------------+--------------------+-----+-----+------------------+
|                 src|                 dst|count|month|          avg_fare|
+--------------------+--------------------+-----+-----+------------------+
|Allerton/Pelham G...|        East Tremont|    1|    1|              11.8|
|        Battery Park|         Fort Greene|   10|    1|20.003000000000004|
|        Battery Park|     Windsor Terrace|    4|    1|            30.445|
|   Battery Park City|        East Village| 1716|    1| 18.92319930069934|
|        Bloomingdale|           Chinatown|    7|    1| 32.61714285714286|
|        Bloomingdale|     Mariners Harbor|    1|    1|             85.42|
|           Bronxdale|         Eastchester|    1|    1|               9.3|
|  Brooklyn Navy Yard|          Kensington|    1|    1|              18.3|
|      Bushwick North|    Hamilton Heights|    4|    1|           53.8475|
|      Bushwick South|Long Island City/...|    5|    1|            22.432|
|     Carroll Gardens|Upper West Side S...|    9|    1| 38.09444444444445|
|      Central Harlem|         Brownsville|    2|    1|            68.005|
|Central Harlem North|   Crotona Park East|   18|    1|22.465000000000003|
|Central Harlem North|        Far Rockaway|    1|    1|             72.84|
|Central Harlem North|           Flatlands|    1|    1|             88.34|
|Central Harlem North|              Inwood|   68|    1|18.413676470588236|
|        Central Park|Briarwood/Jamaica...|    2|    1|             50.82|
|        Clinton Hill|  Brooklyn Navy Yard|   17|    1| 7.828235294117646|
|        Clinton Hill|      Central Harlem|    2|    1|             50.84|
|        Clinton West|             Madison|    6|    1|52.306666666666665|
+--------------------+--------------------+-----+-----+------------------+
only showing top 20 rows

In [12]:
########## max distance
max_dist = df_joined.orderBy('distance', ascending=False)
max_dist = max_dist.limit(10)
max_dist = max_dist.withColumnRenamed("distance", "max_distance")
max_dist = max_dist.select('PUZone', 'DOZone', 'max_distance', 'month')
max_dist.show()

+--------------------+--------------------+------------+-----+
|              PUZone|              DOZone|max_distance|month|
+--------------------+--------------------+------------+-----+
|Springfield Garde...|                  NA|      264.71|    1|
|          Ocean Hill|Two Bridges/Sewar...|       180.7|    1|
|         JFK Airport| UN/Turtle Bay South|       173.2|    1|
|     Mariners Harbor|                  NA|      156.17|    1|
|        Clinton East|                  NA|       151.7|    1|
|Flushing Meadows-...|                  NA|      143.45|    1|
|                  NA|                  NA|       143.4|    1|
|         JFK Airport|                  NA|       143.4|    1|
|       Richmond Hill|                  NA|       141.8|    1|
|         JFK Airport|                  NA|      139.17|    1|
+--------------------+--------------------+------------+-----+

In [13]:
######max fare
max_fare = df_joined.orderBy('total_fare', ascending=False)
max_fare = max_fare.limit(10)
max_fare = max_fare.withColumnRenamed("total_fare", "max_fare")
max_fare = max_fare.select('PUZone', 'DOZone', 'max_fare', 'month')
max_fare.show()

+--------------------+--------------------+--------+-----+
|              PUZone|              DOZone|max_fare|month|
+--------------------+--------------------+--------+-----+
|Upper West Side S...|                  NV|625901.6|    1|
|Two Bridges/Sewar...|Washington Height...|538580.0|    1|
|Upper East Side S...|     Lenox Hill West|  9001.3|    1|
|                  NV|                  NV| 8043.84|    1|
|       Midtown North|Times Sq/Theatre ...|  3009.8|    1|
|                  NV|                  NV|  3009.3|    1|
|           Sunnyside|           Sunnyside| 2000.28|    1|
|           Sunnyside|           Sunnyside| 2000.28|    1|
|           Sunnyside|           Sunnyside| 2000.28|    1|
|           Sunnyside|           Sunnyside| 1000.29|    1|
+--------------------+--------------------+--------+-----+

In [14]:
#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))

In [15]:
###### by time
PUByTime = df_joined.groupBy('PUHour', 'PUZone', 'month').count()
PUByTime = PUByTime.orderBy('count', ascending=False)

In [17]:
####### best PU locs
best_locs = df_joined.groupBy('PUZone', 'month').count()
best_locs = best_locs.orderBy('count', ascending=False)
best_locs.show()

+--------------------+-----+------+
|              PUZone|month| count|
+--------------------+-----+------+
|Upper East Side S...|    1|380663|
|Upper East Side N...|    1|363649|
|      Midtown Center|    1|360995|
|Penn Station/Madi...|    1|339970|
|Times Sq/Theatre ...|    1|334079|
|            Union Sq|    1|333035|
|        Midtown East|    1|330946|
|         Murray Hill|    1|306244|
|        East Village|    1|303580|
|        Clinton East|    1|297414|
| Lincoln Square East|    1|277230|
|Upper West Side S...|    1|252264|
|       Midtown North|    1|250939|
|            Gramercy|    1|238695|
|       Midtown South|    1|227768|
|         JFK Airport|    1|227167|
|     Lenox Hill West|    1|226739|
|        East Chelsea|    1|224558|
|   LaGuardia Airport|    1|212193|
|        West Village|    1|211629|
+--------------------+-----+------+
only showing top 20 rows

In [18]:
#####################################################  Feb

jan = spark.read.csv('../bigdata/yellow_tripdata_2017-02.csv', header=True, inferSchema = True)
jan = jan.drop('VendorID','store_and_fwd_flag' ,'improvement_surcharge')

import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(2))

Grapht = df_joined.select('PUZone', 'DOZone', 'month')
Grapht = Grapht.groupBy('PUZone', 'DOZone').count()
Grapht = Grapht.withColumn("month",lit(2))
Grapht = Grapht.selectExpr("PUZone as src", "DOZone as dst", "count as count", "month as month")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
Grapht = Grapht.join(byTotalFare,[Grapht.src==byTotalFare.PUZone, Grapht.dst==byTotalFare.DOZone],'left_outer')
Grapht = Grapht.drop('PUZone', 'DOZone')
Grapht = Grapht.withColumnRenamed("avg(total_fare)", "avg_fare")
Graph = Graph.union(Grapht)

########## max distance
max_distt = df_joined.orderBy('distance', ascending=False)
max_distt = max_distt.limit(10)
max_distt = max_distt.withColumnRenamed("distance", "max_distance")
max_distt = max_distt.select('PUZone', 'DOZone', 'max_distance', 'month')
max_dist = max_dist.union(max_distt)

######max fare
max_faret = df_joined.orderBy('total_fare', ascending=False)
max_faret = max_faret.limit(10)
max_faret = max_faret.withColumnRenamed("total_fare", "max_fare")
max_faret = max_faret.select('PUZone', 'DOZone', 'max_fare', 'month')
max_fare = max_fare.union(max_faret)

#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))

###### by time
PUByTimet = df_joined.groupBy('PUHour', 'PUZone', 'month').count()
PUByTimet = PUByTimet.orderBy('count', ascending=False)
PUByTime = PUByTime.union(PUByTimet)

####### best PU locs
best_locst = df_joined.groupBy('PUZone', 'month').count()
best_locs = best_locs.union(best_locst)

In [27]:
import pandas as pd
Graph.toPandas().to_csv('mycsv.csv', index=False)

In [30]:
df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|   PUHour|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+
|     87|Manhattan|Financial Distric...|    246|Manhattan|West Chelsea/Huds...|              1|    3.29|         1|   87|  246|           1|14.0|  0.0|    0.5| 1.5| 0.0|      16.3|2017-02-03|02:03:50|2017-02-03|02:20:55|    2| midnight|
|     68|Manhattan|        East Chelsea|    239|Manhattan|Upper West Side S...|              1|     2.8|         1|   68|  239|           2|15.0|  0.0|    0.5| 0.0| 0.0|      15.8|2017-02-03|02:26:04|2017-02-03|02:46:47|    2| midnight|
|    239|Manhattan|Upper West Side S...|     43|Manhattan|        Central Park|              1|     0.9|         1|  239|   43|           1| 6.0|  0.0|    0.5|1.36| 0.0|      8.16|2017-02-03|02:49:51|2017-02-03|09:56:17|    2| midnight|
|    163|Manhattan|       Midtown North|    230|Manhattan|Times Sq/Theatre ...|              1|    0.72|         1|  163|  230|           1| 8.0|  0.0|    0.5|1.76| 0.0|     10.56|2017-02-03|04:41:54|2017-02-03|04:52:41|    2| midnight|
|    186|Manhattan|Penn Station/Madi...|    230|Manhattan|Times Sq/Theatre ...|              1|     1.1|         1|  186|  230|           1|11.0|  0.0|    0.5|3.54| 0.0|     15.34|2017-02-03|04:57:38|2017-02-03|12:16:14|    2| midnight|
|    141|Manhattan|     Lenox Hill West|    162|Manhattan|        Midtown East|              1|    0.93|         1|  141|  162|           2| 9.0|  0.0|    0.5| 0.0| 0.0|       9.8|2017-02-21|14:50:07|2017-02-21|15:03:08|    2|afternoon|
|    234|Manhattan|            Union Sq|     68|Manhattan|        East Chelsea|              6|    0.84|         1|  234|   68|           1| 5.0|  0.5|    0.5|0.88| 0.0|      7.18|2017-02-21|23:23:09|2017-02-21|23:26:18|    2|  evening|
|    249|Manhattan|        West Village|    161|Manhattan|      Midtown Center|              6|    2.01|         1|  249|  161|           1|10.0|  0.5|    0.5|2.82| 0.0|     14.12|2017-02-21|23:28:20|2017-02-21|23:39:56|    2|  evening|
|    144|Manhattan| Little Italy/NoLiTa|     87|Manhattan|Financial Distric...|              6|    1.52|         1|  144|   87|           1| 7.0|  0.5|    0.5|2.08| 0.0|     10.38|2017-02-21|23:55:03|2017-02-22|00:01:38|    2|  evening|
|    230|Manhattan|Times Sq/Theatre ...|     68|Manhattan|        East Chelsea|              1|    1.01|         1|  230|   68|           1| 8.0|  0.0|    0.5|2.64| 0.0|     11.44|2017-02-24|12:17:57|2017-02-24|12:28:02|    2|afternoon|
|     68|Manhattan|        East Chelsea|     68|Manhattan|        East Chelsea|              1|    0.72|         1|   68|   68|           1| 4.5|  0.0|    0.5|1.59| 0.0|      6.89|2017-02-24|12:29:32|2017-02-24|12:33:03|    2|afternoon|
|    231|Manhattan|TriBeCa/Civic Center|    113|Manhattan|Greenwich Village...|              1|     1.6|         1|  231|  113|           1| 9.0|  0.0|    0.5|1.96| 0.0|     11.76|2017-02-24|12:47:50|2017-02-24|12:59:48|    2|afternoon|
|    113|Manhattan|Greenwich Village...|    239|Manhattan|Upper West Side S...|              1|    4.31|         1|  113|  239|           1|34.5|  0.0|    0.5| 3.0| 0.0|      38.3|2017-02-24|13:03:57|2017-02-24|22:04:42|    2|afternoon|
|    138|   Queens|   LaGuardia Airport|    162|Manhattan|        Midtown East|              1|    10.3|         1|  138|  162|           2|30.5|  0.5|    0.5| 0.0|5.54|     37.34|2017-02-01|00:00:00|2017-02-01|00:20:43|    2| midnight|
|    132|   Queens|         JFK Airport|    123| Brooklyn|           Homecrest|              1|   16.05|         1|  132|  123|           2|44.0|  0.5|    0.5| 0.0| 0.0|      45.3|2017-02-01|00:00:00|2017-02-01|00:24:23|    2| midnight|
|    148|Manhattan|     Lower East Side|     68|Manhattan|        East Chelsea|              1|     2.4|         1|  148|   68|           1|12.0|  0.5|    0.5| 3.0| 0.0|      16.3|2017-02-01|00:00:01|2017-02-01|00:14:45|    2| midnight|
|    137|Manhattan|            Kips Bay|    213|    Bronx|Soundview/Castle ...|              1|    10.4|         1|  137|  213|           1|30.5|  0.5|    0.5|6.35| 0.0|     38.15|2017-02-01|00:00:01|2017-02-01|00:21:12|    2| midnight|
|    170|Manhattan|         Murray Hill|    170|Manhattan|         Murray Hill|              4|    0.76|         1|  170|  170|           1| 5.5|  0.5|    0.5|1.36| 0.0|      8.16|2017-02-01|00:00:01|2017-02-01|00:05:29|    2| midnight|
|    230|Manhattan|Times Sq/Theatre ...|     79|Manhattan|        East Village|              2|     2.8|         1|  230|   79|           1|10.5|  0.5|    0.5|2.36| 0.0|     14.16|2017-02-01|00:00:02|2017-02-01|00:10:45|    2| midnight|
|    142|Manhattan| Lincoln Square East|    246|Manhattan|West Chelsea/Huds...|              1|    2.48|         1|  142|  246|           2| 9.5|  0.5|    0.5| 0.0| 0.0|      10.8|2017-02-01|00:00:03|2017-02-01|00:07:27|    2| midnight|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+
only showing top 20 rows

In [32]:
### Clustering

from pyspark.ml.feature import VectorAssembler

#vecAssembler = VectorAssembler(inputCols=["PULocID", "PUBorough", "PUZone", "DOLocID","DOBorough", "DOZone", "passenger_count" ,"distance" , "RateCodeID", "srcID", "dstID", "payment_type", "fare" ,"extra", "mta_tax",  "tip","toll","total_fare", "PUDate", "PUTime","DODate","DOTime","month" ,"PUHour"], outputCol="features")
vecAssembler = VectorAssembler(inputCols=["passenger_count" ,"distance" , "RateCodeID", "srcID", "dstID", "payment_type", "fare" ,"extra", "mta_tax","tip","toll","total_fare","month"], outputCol="features")
new_df = vecAssembler.transform(df_joined)
new_df.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+--------------------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|   PUHour|            features|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+--------------------+
|     87|Manhattan|Financial Distric...|    246|Manhattan|West Chelsea/Huds...|              1|    3.29|         1|   87|  246|           1|14.0|  0.0|    0.5| 1.5| 0.0|      16.3|2017-02-03|02:03:50|2017-02-03|02:20:55|    2| midnight|[1.0,3.29,1.0,87....|
|     68|Manhattan|        East Chelsea|    239|Manhattan|Upper West Side S...|              1|     2.8|         1|   68|  239|           2|15.0|  0.0|    0.5| 0.0| 0.0|      15.8|2017-02-03|02:26:04|2017-02-03|02:46:47|    2| midnight|[1.0,2.8,1.0,68.0...|
|    239|Manhattan|Upper West Side S...|     43|Manhattan|        Central Park|              1|     0.9|         1|  239|   43|           1| 6.0|  0.0|    0.5|1.36| 0.0|      8.16|2017-02-03|02:49:51|2017-02-03|09:56:17|    2| midnight|[1.0,0.9,1.0,239....|
|    163|Manhattan|       Midtown North|    230|Manhattan|Times Sq/Theatre ...|              1|    0.72|         1|  163|  230|           1| 8.0|  0.0|    0.5|1.76| 0.0|     10.56|2017-02-03|04:41:54|2017-02-03|04:52:41|    2| midnight|[1.0,0.72,1.0,163...|
|    186|Manhattan|Penn Station/Madi...|    230|Manhattan|Times Sq/Theatre ...|              1|     1.1|         1|  186|  230|           1|11.0|  0.0|    0.5|3.54| 0.0|     15.34|2017-02-03|04:57:38|2017-02-03|12:16:14|    2| midnight|[1.0,1.1,1.0,186....|
|    141|Manhattan|     Lenox Hill West|    162|Manhattan|        Midtown East|              1|    0.93|         1|  141|  162|           2| 9.0|  0.0|    0.5| 0.0| 0.0|       9.8|2017-02-21|14:50:07|2017-02-21|15:03:08|    2|afternoon|[1.0,0.93,1.0,141...|
|    234|Manhattan|            Union Sq|     68|Manhattan|        East Chelsea|              6|    0.84|         1|  234|   68|           1| 5.0|  0.5|    0.5|0.88| 0.0|      7.18|2017-02-21|23:23:09|2017-02-21|23:26:18|    2|  evening|[6.0,0.84,1.0,234...|
|    249|Manhattan|        West Village|    161|Manhattan|      Midtown Center|              6|    2.01|         1|  249|  161|           1|10.0|  0.5|    0.5|2.82| 0.0|     14.12|2017-02-21|23:28:20|2017-02-21|23:39:56|    2|  evening|[6.0,2.01,1.0,249...|
|    144|Manhattan| Little Italy/NoLiTa|     87|Manhattan|Financial Distric...|              6|    1.52|         1|  144|   87|           1| 7.0|  0.5|    0.5|2.08| 0.0|     10.38|2017-02-21|23:55:03|2017-02-22|00:01:38|    2|  evening|[6.0,1.52,1.0,144...|
|    230|Manhattan|Times Sq/Theatre ...|     68|Manhattan|        East Chelsea|              1|    1.01|         1|  230|   68|           1| 8.0|  0.0|    0.5|2.64| 0.0|     11.44|2017-02-24|12:17:57|2017-02-24|12:28:02|    2|afternoon|[1.0,1.01,1.0,230...|
|     68|Manhattan|        East Chelsea|     68|Manhattan|        East Chelsea|              1|    0.72|         1|   68|   68|           1| 4.5|  0.0|    0.5|1.59| 0.0|      6.89|2017-02-24|12:29:32|2017-02-24|12:33:03|    2|afternoon|[1.0,0.72,1.0,68....|
|    231|Manhattan|TriBeCa/Civic Center|    113|Manhattan|Greenwich Village...|              1|     1.6|         1|  231|  113|           1| 9.0|  0.0|    0.5|1.96| 0.0|     11.76|2017-02-24|12:47:50|2017-02-24|12:59:48|    2|afternoon|[1.0,1.6,1.0,231....|
|    113|Manhattan|Greenwich Village...|    239|Manhattan|Upper West Side S...|              1|    4.31|         1|  113|  239|           1|34.5|  0.0|    0.5| 3.0| 0.0|      38.3|2017-02-24|13:03:57|2017-02-24|22:04:42|    2|afternoon|[1.0,4.31,1.0,113...|
|    138|   Queens|   LaGuardia Airport|    162|Manhattan|        Midtown East|              1|    10.3|         1|  138|  162|           2|30.5|  0.5|    0.5| 0.0|5.54|     37.34|2017-02-01|00:00:00|2017-02-01|00:20:43|    2| midnight|[1.0,10.3,1.0,138...|
|    132|   Queens|         JFK Airport|    123| Brooklyn|           Homecrest|              1|   16.05|         1|  132|  123|           2|44.0|  0.5|    0.5| 0.0| 0.0|      45.3|2017-02-01|00:00:00|2017-02-01|00:24:23|    2| midnight|[1.0,16.05,1.0,13...|
|    148|Manhattan|     Lower East Side|     68|Manhattan|        East Chelsea|              1|     2.4|         1|  148|   68|           1|12.0|  0.5|    0.5| 3.0| 0.0|      16.3|2017-02-01|00:00:01|2017-02-01|00:14:45|    2| midnight|[1.0,2.4,1.0,148....|
|    137|Manhattan|            Kips Bay|    213|    Bronx|Soundview/Castle ...|              1|    10.4|         1|  137|  213|           1|30.5|  0.5|    0.5|6.35| 0.0|     38.15|2017-02-01|00:00:01|2017-02-01|00:21:12|    2| midnight|[1.0,10.4,1.0,137...|
|    170|Manhattan|         Murray Hill|    170|Manhattan|         Murray Hill|              4|    0.76|         1|  170|  170|           1| 5.5|  0.5|    0.5|1.36| 0.0|      8.16|2017-02-01|00:00:01|2017-02-01|00:05:29|    2| midnight|[4.0,0.76,1.0,170...|
|    230|Manhattan|Times Sq/Theatre ...|     79|Manhattan|        East Village|              2|     2.8|         1|  230|   79|           1|10.5|  0.5|    0.5|2.36| 0.0|     14.16|2017-02-01|00:00:02|2017-02-01|00:10:45|    2| midnight|[2.0,2.8,1.0,230....|
|    142|Manhattan| Lincoln Square East|    246|Manhattan|West Chelsea/Huds...|              1|    2.48|         1|  142|  246|           2| 9.5|  0.5|    0.5| 0.0| 0.0|      10.8|2017-02-01|00:00:03|2017-02-01|00:07:27|    2| midnight|[1.0,2.48,1.0,142...|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+--------------------+
only showing top 20 rows

In [33]:
from pyspark.ml.clustering import KMeans

kmeans = KMeans(k=3, seed=1)  # 2 clusters here
model = kmeans.fit(new_df.select('features'))

In [34]:
transformed = model.transform(new_df)
transformed.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+--------------------+----------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|   PUHour|            features|prediction|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+--------------------+----------+
|     87|Manhattan|Financial Distric...|    246|Manhattan|West Chelsea/Huds...|              1|    3.29|         1|   87|  246|           1|14.0|  0.0|    0.5| 1.5| 0.0|      16.3|2017-02-03|02:03:50|2017-02-03|02:20:55|    2| midnight|[1.0,3.29,1.0,87....|         0|
|     68|Manhattan|        East Chelsea|    239|Manhattan|Upper West Side S...|              1|     2.8|         1|   68|  239|           2|15.0|  0.0|    0.5| 0.0| 0.0|      15.8|2017-02-03|02:26:04|2017-02-03|02:46:47|    2| midnight|[1.0,2.8,1.0,68.0...|         0|
|    239|Manhattan|Upper West Side S...|     43|Manhattan|        Central Park|              1|     0.9|         1|  239|   43|           1| 6.0|  0.0|    0.5|1.36| 0.0|      8.16|2017-02-03|02:49:51|2017-02-03|09:56:17|    2| midnight|[1.0,0.9,1.0,239....|         0|
|    163|Manhattan|       Midtown North|    230|Manhattan|Times Sq/Theatre ...|              1|    0.72|         1|  163|  230|           1| 8.0|  0.0|    0.5|1.76| 0.0|     10.56|2017-02-03|04:41:54|2017-02-03|04:52:41|    2| midnight|[1.0,0.72,1.0,163...|         0|
|    186|Manhattan|Penn Station/Madi...|    230|Manhattan|Times Sq/Theatre ...|              1|     1.1|         1|  186|  230|           1|11.0|  0.0|    0.5|3.54| 0.0|     15.34|2017-02-03|04:57:38|2017-02-03|12:16:14|    2| midnight|[1.0,1.1,1.0,186....|         0|
|    141|Manhattan|     Lenox Hill West|    162|Manhattan|        Midtown East|              1|    0.93|         1|  141|  162|           2| 9.0|  0.0|    0.5| 0.0| 0.0|       9.8|2017-02-21|14:50:07|2017-02-21|15:03:08|    2|afternoon|[1.0,0.93,1.0,141...|         0|
|    234|Manhattan|            Union Sq|     68|Manhattan|        East Chelsea|              6|    0.84|         1|  234|   68|           1| 5.0|  0.5|    0.5|0.88| 0.0|      7.18|2017-02-21|23:23:09|2017-02-21|23:26:18|    2|  evening|[6.0,0.84,1.0,234...|         0|
|    249|Manhattan|        West Village|    161|Manhattan|      Midtown Center|              6|    2.01|         1|  249|  161|           1|10.0|  0.5|    0.5|2.82| 0.0|     14.12|2017-02-21|23:28:20|2017-02-21|23:39:56|    2|  evening|[6.0,2.01,1.0,249...|         0|
|    144|Manhattan| Little Italy/NoLiTa|     87|Manhattan|Financial Distric...|              6|    1.52|         1|  144|   87|           1| 7.0|  0.5|    0.5|2.08| 0.0|     10.38|2017-02-21|23:55:03|2017-02-22|00:01:38|    2|  evening|[6.0,1.52,1.0,144...|         0|
|    230|Manhattan|Times Sq/Theatre ...|     68|Manhattan|        East Chelsea|              1|    1.01|         1|  230|   68|           1| 8.0|  0.0|    0.5|2.64| 0.0|     11.44|2017-02-24|12:17:57|2017-02-24|12:28:02|    2|afternoon|[1.0,1.01,1.0,230...|         0|
|     68|Manhattan|        East Chelsea|     68|Manhattan|        East Chelsea|              1|    0.72|         1|   68|   68|           1| 4.5|  0.0|    0.5|1.59| 0.0|      6.89|2017-02-24|12:29:32|2017-02-24|12:33:03|    2|afternoon|[1.0,0.72,1.0,68....|         0|
|    231|Manhattan|TriBeCa/Civic Center|    113|Manhattan|Greenwich Village...|              1|     1.6|         1|  231|  113|           1| 9.0|  0.0|    0.5|1.96| 0.0|     11.76|2017-02-24|12:47:50|2017-02-24|12:59:48|    2|afternoon|[1.0,1.6,1.0,231....|         0|
|    113|Manhattan|Greenwich Village...|    239|Manhattan|Upper West Side S...|              1|    4.31|         1|  113|  239|           1|34.5|  0.0|    0.5| 3.0| 0.0|      38.3|2017-02-24|13:03:57|2017-02-24|22:04:42|    2|afternoon|[1.0,4.31,1.0,113...|         0|
|    138|   Queens|   LaGuardia Airport|    162|Manhattan|        Midtown East|              1|    10.3|         1|  138|  162|           2|30.5|  0.5|    0.5| 0.0|5.54|     37.34|2017-02-01|00:00:00|2017-02-01|00:20:43|    2| midnight|[1.0,10.3,1.0,138...|         0|
|    132|   Queens|         JFK Airport|    123| Brooklyn|           Homecrest|              1|   16.05|         1|  132|  123|           2|44.0|  0.5|    0.5| 0.0| 0.0|      45.3|2017-02-01|00:00:00|2017-02-01|00:24:23|    2| midnight|[1.0,16.05,1.0,13...|         0|
|    148|Manhattan|     Lower East Side|     68|Manhattan|        East Chelsea|              1|     2.4|         1|  148|   68|           1|12.0|  0.5|    0.5| 3.0| 0.0|      16.3|2017-02-01|00:00:01|2017-02-01|00:14:45|    2| midnight|[1.0,2.4,1.0,148....|         0|
|    137|Manhattan|            Kips Bay|    213|    Bronx|Soundview/Castle ...|              1|    10.4|         1|  137|  213|           1|30.5|  0.5|    0.5|6.35| 0.0|     38.15|2017-02-01|00:00:01|2017-02-01|00:21:12|    2| midnight|[1.0,10.4,1.0,137...|         0|
|    170|Manhattan|         Murray Hill|    170|Manhattan|         Murray Hill|              4|    0.76|         1|  170|  170|           1| 5.5|  0.5|    0.5|1.36| 0.0|      8.16|2017-02-01|00:00:01|2017-02-01|00:05:29|    2| midnight|[4.0,0.76,1.0,170...|         0|
|    230|Manhattan|Times Sq/Theatre ...|     79|Manhattan|        East Village|              2|     2.8|         1|  230|   79|           1|10.5|  0.5|    0.5|2.36| 0.0|     14.16|2017-02-01|00:00:02|2017-02-01|00:10:45|    2| midnight|[2.0,2.8,1.0,230....|         0|
|    142|Manhattan| Lincoln Square East|    246|Manhattan|West Chelsea/Huds...|              1|    2.48|         1|  142|  246|           2| 9.5|  0.5|    0.5| 0.0| 0.0|      10.8|2017-02-01|00:00:03|2017-02-01|00:07:27|    2| midnight|[1.0,2.48,1.0,142...|         0|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+--------------------+----------+
only showing top 20 rows