In [2]:
#########START
#spark.stop()
import pyspark
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)
jan = spark.read.csv('../bigdata/yellow_tripdata_2017-01.csv', header=True, inferSchema = True)

loc = spark.read.csv('taxi _zone_lookup.csv', header=True, inferSchema = True)

In [3]:
import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|      Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|            Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|
|    164|Manhattan|       Midtown South|    161|Manhattan|      Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|   East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|
|    249|Manhattan|        West Village|    234|Manhattan|            Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|
|     48|Manhattan|        Clinton East|     48|Manhattan|        Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|      Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|
|    162|Manhattan|        Midtown East|    161|Manhattan|      Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|
|     48|Manhattan|        Clinton East|     50|Manhattan|        Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|   East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|
|    138|   Queens|   LaGuardia Airport|    262|Manhattan|      Yorkville East|              1|    8.47|         1|  138|  262|           1|24.0|  0.5|    0.5|7.71|5.54|     38.55|2017-01-01|00:00:05|2017-01-01|00:15:36|
|    142|Manhattan| Lincoln Square East|    236|Manhattan|Upper East Side N...|              2|     2.4|         1|  142|  236|           2|10.5|  0.5|    0.5| 0.0| 0.0|      11.8|2017-01-01|00:00:06|2017-01-01|00:11:56|
|    161|Manhattan|      Midtown Center|    265|  Unknown|                  NA|              2|    12.6|         5|  161|  265|           1|60.0|  0.0|    0.0|10.0| 0.0|      70.3|2017-01-01|00:00:06|2017-01-01|00:23:37|
|    234|Manhattan|            Union Sq|    186|Manhattan|Penn Station/Madi...|              1|     0.9|         1|  234|  186|           1| 7.0|  0.5|    0.5|2.05| 0.0|     10.35|2017-01-01|00:00:06|2017-01-01|00:08:53|
|    141|Manhattan|     Lenox Hill West|    107|Manhattan|            Gramercy|              4|    2.43|         1|  141|  107|           1| 9.5|  0.5|    0.5| 2.7| 0.0|      13.5|2017-01-01|00:00:06|2017-01-01|00:09:30|
|     79|Manhattan|        East Village|    163|Manhattan|       Midtown North|              2|     2.6|         1|   79|  163|           1|12.5|  0.5|    0.5|2.76| 0.0|     16.56|2017-01-01|00:00:06|2017-01-01|00:16:05|
|    148|Manhattan|     Lower East Side|     36| Brooklyn|      Bushwick North|              5|    4.25|         1|  148|   36|           2|16.5|  0.5|    0.5| 0.0| 0.0|      17.8|2017-01-01|00:00:06|2017-01-01|00:18:12|
|     48|Manhattan|        Clinton East|     68|Manhattan|        East Chelsea|              1|    0.65|         1|   48|   68|           1| 6.5|  0.5|    0.5| 1.7| 0.0|       9.5|2017-01-01|00:00:07|2017-01-01|00:07:42|
|    230|Manhattan|Times Sq/Theatre ...|    148|Manhattan|     Lower East Side|              1|    3.42|         1|  230|  148|           1|22.5|  0.5|    0.5| 0.0| 0.0|      23.8|2017-01-01|00:00:09|2017-01-01|00:34:21|
|    186|Manhattan|Penn Station/Madi...|    232|Manhattan|Two Bridges/Sewar...|              1|     6.6|         1|  186|  232|           2|23.0|  0.5|    0.5| 0.0| 0.0|      24.3|2017-01-01|00:00:10|2017-01-01|00:24:52|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
only showing top 20 rows

In [4]:
byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(1))

Graph = df_joined.select('PUZone', 'DOZone', 'month')
Graph = Graph.groupBy('PUZone', 'DOZone').count()
Graph = Graph.withColumn("month",lit(1))
Graph = Graph.selectExpr("PUZone as src", "DOZone as dst", "count as count", "month as month")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
Graph = Graph.join(byTotalFare,[Graph.src==byTotalFare.PUZone, Graph.dst==byTotalFare.DOZone],'left_outer')
Graph = Graph.drop('PUZone', 'DOZone')
Graph = Graph.withColumnRenamed("avg(total_fare)", "avg_fare")
Graph.show()

+--------------------+--------------------+-----+-----+------------------+
|                 src|                 dst|count|month|          avg_fare|
+--------------------+--------------------+-----+-----+------------------+
|Allerton/Pelham G...|        East Tremont|    1|    1|              11.8|
|        Battery Park|         Fort Greene|   10|    1|20.003000000000004|
|        Battery Park|     Windsor Terrace|    4|    1|            30.445|
|   Battery Park City|        East Village| 1716|    1| 18.92319930069934|
|        Bloomingdale|           Chinatown|    7|    1| 32.61714285714286|
|        Bloomingdale|     Mariners Harbor|    1|    1|             85.42|
|           Bronxdale|         Eastchester|    1|    1|               9.3|
|  Brooklyn Navy Yard|          Kensington|    1|    1|              18.3|
|      Bushwick North|    Hamilton Heights|    4|    1|           53.8475|
|      Bushwick South|Long Island City/...|    5|    1|            22.432|
|     Carroll Gardens|Upper West Side S...|    9|    1| 38.09444444444445|
|      Central Harlem|         Brownsville|    2|    1|            68.005|
|Central Harlem North|   Crotona Park East|   18|    1|22.465000000000003|
|Central Harlem North|        Far Rockaway|    1|    1|             72.84|
|Central Harlem North|           Flatlands|    1|    1|             88.34|
|Central Harlem North|              Inwood|   68|    1|18.413676470588236|
|        Central Park|Briarwood/Jamaica...|    2|    1|             50.82|
|        Clinton Hill|  Brooklyn Navy Yard|   17|    1| 7.828235294117646|
|        Clinton Hill|      Central Harlem|    2|    1|             50.84|
|        Clinton West|             Madison|    6|    1|52.306666666666665|
+--------------------+--------------------+-----+-----+------------------+
only showing top 20 rows

In [5]:

########## max distance
max_dist = df_joined.orderBy('distance', ascending=False)
max_dist = max_dist.limit(10)
max_dist = max_dist.withColumnRenamed("distance", "max_distance")
max_dist = max_dist.select('PUZone', 'DOZone', 'max_distance', 'month')
max_dist.show()

+--------------------+--------------------+------------+-----+
|              PUZone|              DOZone|max_distance|month|
+--------------------+--------------------+------------+-----+
|Springfield Garde...|                  NA|      264.71|    1|
|          Ocean Hill|Two Bridges/Sewar...|       180.7|    1|
|         JFK Airport| UN/Turtle Bay South|       173.2|    1|
|     Mariners Harbor|                  NA|      156.17|    1|
|        Clinton East|                  NA|       151.7|    1|
|Flushing Meadows-...|                  NA|      143.45|    1|
|                  NA|                  NA|       143.4|    1|
|         JFK Airport|                  NA|       143.4|    1|
|       Richmond Hill|                  NA|       141.8|    1|
|         JFK Airport|                  NA|      139.17|    1|
+--------------------+--------------------+------------+-----+

In [6]:

######max fare
max_fare = df_joined.orderBy('total_fare', ascending=False)
max_fare = max_fare.limit(10)
max_fare = max_fare.withColumnRenamed("total_fare", "max_fare")
max_fare = max_fare.select('PUZone', 'DOZone', 'max_fare', 'month')
max_fare.show()

+--------------------+--------------------+--------+-----+
|              PUZone|              DOZone|max_fare|month|
+--------------------+--------------------+--------+-----+
|Upper West Side S...|                  NV|625901.6|    1|
|Two Bridges/Sewar...|Washington Height...|538580.0|    1|
|Upper East Side S...|     Lenox Hill West|  9001.3|    1|
|                  NV|                  NV| 8043.84|    1|
|       Midtown North|Times Sq/Theatre ...|  3009.8|    1|
|                  NV|                  NV|  3009.3|    1|
|           Sunnyside|           Sunnyside| 2000.28|    1|
|           Sunnyside|           Sunnyside| 2000.28|    1|
|           Sunnyside|           Sunnyside| 2000.28|    1|
|           Sunnyside|           Sunnyside| 1000.29|    1|
+--------------------+--------------------+--------+-----+

In [7]:
#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))
df_joined = df_joined.withColumn('PUClock', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))

df_joined.show(10)

+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|           DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|  PUHour|PUClock|
+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|   Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|    1| morning|     11|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|         Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|    1| morning|     11|
|    164|Manhattan|       Midtown South|    161|Manhattan|   Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|    1| morning|     11|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|    1| morning|     11|
|    249|Manhattan|        West Village|    234|Manhattan|         Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|    1|midnight|     00|
|     48|Manhattan|        Clinton East|     48|Manhattan|     Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|    1|midnight|     00|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|   Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|    1|midnight|     00|
|    162|Manhattan|        Midtown East|    161|Manhattan|   Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|    1|midnight|     00|
|     48|Manhattan|        Clinton East|     50|Manhattan|     Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|    1|midnight|     00|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|    1|midnight|     00|
+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
only showing top 10 rows

In [8]:
###### by time
PUByTime = df_joined.groupBy('PUHour', 'PUZone', 'month').count()
PUByTime = PUByTime.orderBy('count', ascending=False)
PUByTime.show(10)

+---------+--------------------+-----+------+
|   PUHour|              PUZone|month| count|
+---------+--------------------+-----+------+
|afternoon|Upper East Side S...|    1|157826|
|afternoon|Upper East Side N...|    1|151358|
|  evening|Times Sq/Theatre ...|    1|136867|
|  evening|      Midtown Center|    1|136487|
|afternoon|      Midtown Center|    1|134284|
|  evening|            Union Sq|    1|129806|
|  evening|        Midtown East|    1|123194|
|  morning|Upper East Side N...|    1|115309|
|afternoon|        Midtown East|    1|110824|
|  evening|        East Village|    1|110726|
+---------+--------------------+-----+------+
only showing top 10 rows

In [9]:
####### best PU locs
best_locs = df_joined.groupBy('PUZone', 'month').count()
best_locs = best_locs.orderBy('count', ascending=False)
best_locs.show(10)

+--------------------+-----+------+
|              PUZone|month| count|
+--------------------+-----+------+
|Upper East Side S...|    1|380663|
|Upper East Side N...|    1|363649|
|      Midtown Center|    1|360995|
|Penn Station/Madi...|    1|339970|
|Times Sq/Theatre ...|    1|334079|
|            Union Sq|    1|333035|
|        Midtown East|    1|330946|
|         Murray Hill|    1|306244|
|        East Village|    1|303580|
|        Clinton East|    1|297414|
+--------------------+-----+------+
only showing top 10 rows

In [10]:
vertexP = df_joined.select("PUZone").distinct()
vertexP = vertexP.selectExpr("PUZone as Zone")
print(vertexP.count())
vertexD = df_joined.select("DOZone").distinct()
vertexD = vertexD.selectExpr("DOZone as Zone")
print(vertexD.count())
if vertexD.count() > vertexP.count():
  vertex = vertexD.unionAll(vertexP)
else : vertex = vertexP.unionAll(vertexD)
print(vertex.count())
vertex = vertex.select("Zone").distinct()
print(vertex.count())
vertex.toPandas().to_csv('Zones.csv', index=False)
vertex.show()

258
261
519
261
+--------------------+
|                Zone|
+--------------------+
|           Homecrest|
|Governor's Island...|
|              Corona|
|    Bensonhurst West|
|         Westerleigh|
|      Newark Airport|
|          Douglaston|
|Charleston/Totten...|
|          Mount Hope|
|      Pelham Parkway|
|East Concourse/Co...|
|         Marble Hill|
|           Rego Park|
|Upper East Side S...|
|       Dyker Heights|
|Heartland Village...|
|   Kew Gardens Hills|
|     Jackson Heights|
|             Bayside|
|TriBeCa/Civic Center|
+--------------------+
only showing top 20 rows

In [11]:
edge = df_joined.groupBy('PUZone', 'DOZone').count()
edge = edge.selectExpr("PUZone as src", "DOZone as dst", "count as weight")
edge.toPandas().to_csv('Edges_jan.csv', index=False)
edge.show()

+--------------------+--------------------+------+
|                 src|                 dst|weight|
+--------------------+--------------------+------+
|        Midtown East|Meatpacking/West ...|  1918|
|           Sunnyside|         Old Astoria|   246|
|            Gramercy|            Flatiron|  7191|
|        East Village|         JFK Airport|  1107|
|     Jackson Heights|        Clinton East|    23|
|   East Harlem North|            Union Sq|   159|
| UN/Turtle Bay South|          Park Slope|   300|
|        East Village|              Corona|    56|
|Times Sq/Theatre ...|Long Island City/...|   905|
|       Midtown North|            Flatiron|  2685|
|TriBeCa/Civic Center|     Lenox Hill East|   983|
|            Union Sq|Financial Distric...|  2575|
|Sutton Place/Turt...|             Maspeth|    78|
|Upper West Side S...|    Garment District|  1562|
|         Old Astoria|Times Sq/Theatre ...|    51|
|   Battery Park City|        East Village|  1716|
|Central Harlem North|              Inwood|    68|
|    Garment District|            Gramercy|  3520|
|      Middle Village|      Middle Village|    30|
| Lincoln Square West|Meatpacking/West ...|   424|
+--------------------+--------------------+------+
only showing top 20 rows

In [12]:
#####################################################  
### Feb

jan = spark.read.csv('../bigdata/yellow_tripdata_2017-02.csv', header=True, inferSchema = True)
jan = jan.drop('VendorID','store_and_fwd_flag' ,'improvement_surcharge')

import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

In [13]:
df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
|     87|Manhattan|Financial Distric...|    246|Manhattan|West Chelsea/Huds...|              1|    3.29|         1|   87|  246|           1|14.0|  0.0|    0.5| 1.5| 0.0|      16.3|2017-02-03|02:03:50|2017-02-03|02:20:55|
|     68|Manhattan|        East Chelsea|    239|Manhattan|Upper West Side S...|              1|     2.8|         1|   68|  239|           2|15.0|  0.0|    0.5| 0.0| 0.0|      15.8|2017-02-03|02:26:04|2017-02-03|02:46:47|
|    239|Manhattan|Upper West Side S...|     43|Manhattan|        Central Park|              1|     0.9|         1|  239|   43|           1| 6.0|  0.0|    0.5|1.36| 0.0|      8.16|2017-02-03|02:49:51|2017-02-03|09:56:17|
|    163|Manhattan|       Midtown North|    230|Manhattan|Times Sq/Theatre ...|              1|    0.72|         1|  163|  230|           1| 8.0|  0.0|    0.5|1.76| 0.0|     10.56|2017-02-03|04:41:54|2017-02-03|04:52:41|
|    186|Manhattan|Penn Station/Madi...|    230|Manhattan|Times Sq/Theatre ...|              1|     1.1|         1|  186|  230|           1|11.0|  0.0|    0.5|3.54| 0.0|     15.34|2017-02-03|04:57:38|2017-02-03|12:16:14|
|    141|Manhattan|     Lenox Hill West|    162|Manhattan|        Midtown East|              1|    0.93|         1|  141|  162|           2| 9.0|  0.0|    0.5| 0.0| 0.0|       9.8|2017-02-21|14:50:07|2017-02-21|15:03:08|
|    234|Manhattan|            Union Sq|     68|Manhattan|        East Chelsea|              6|    0.84|         1|  234|   68|           1| 5.0|  0.5|    0.5|0.88| 0.0|      7.18|2017-02-21|23:23:09|2017-02-21|23:26:18|
|    249|Manhattan|        West Village|    161|Manhattan|      Midtown Center|              6|    2.01|         1|  249|  161|           1|10.0|  0.5|    0.5|2.82| 0.0|     14.12|2017-02-21|23:28:20|2017-02-21|23:39:56|
|    144|Manhattan| Little Italy/NoLiTa|     87|Manhattan|Financial Distric...|              6|    1.52|         1|  144|   87|           1| 7.0|  0.5|    0.5|2.08| 0.0|     10.38|2017-02-21|23:55:03|2017-02-22|00:01:38|
|    230|Manhattan|Times Sq/Theatre ...|     68|Manhattan|        East Chelsea|              1|    1.01|         1|  230|   68|           1| 8.0|  0.0|    0.5|2.64| 0.0|     11.44|2017-02-24|12:17:57|2017-02-24|12:28:02|
|     68|Manhattan|        East Chelsea|     68|Manhattan|        East Chelsea|              1|    0.72|         1|   68|   68|           1| 4.5|  0.0|    0.5|1.59| 0.0|      6.89|2017-02-24|12:29:32|2017-02-24|12:33:03|
|    231|Manhattan|TriBeCa/Civic Center|    113|Manhattan|Greenwich Village...|              1|     1.6|         1|  231|  113|           1| 9.0|  0.0|    0.5|1.96| 0.0|     11.76|2017-02-24|12:47:50|2017-02-24|12:59:48|
|    113|Manhattan|Greenwich Village...|    239|Manhattan|Upper West Side S...|              1|    4.31|         1|  113|  239|           1|34.5|  0.0|    0.5| 3.0| 0.0|      38.3|2017-02-24|13:03:57|2017-02-24|22:04:42|
|    138|   Queens|   LaGuardia Airport|    162|Manhattan|        Midtown East|              1|    10.3|         1|  138|  162|           2|30.5|  0.5|    0.5| 0.0|5.54|     37.34|2017-02-01|00:00:00|2017-02-01|00:20:43|
|    132|   Queens|         JFK Airport|    123| Brooklyn|           Homecrest|              1|   16.05|         1|  132|  123|           2|44.0|  0.5|    0.5| 0.0| 0.0|      45.3|2017-02-01|00:00:00|2017-02-01|00:24:23|
|    148|Manhattan|     Lower East Side|     68|Manhattan|        East Chelsea|              1|     2.4|         1|  148|   68|           1|12.0|  0.5|    0.5| 3.0| 0.0|      16.3|2017-02-01|00:00:01|2017-02-01|00:14:45|
|    137|Manhattan|            Kips Bay|    213|    Bronx|Soundview/Castle ...|              1|    10.4|         1|  137|  213|           1|30.5|  0.5|    0.5|6.35| 0.0|     38.15|2017-02-01|00:00:01|2017-02-01|00:21:12|
|    170|Manhattan|         Murray Hill|    170|Manhattan|         Murray Hill|              4|    0.76|         1|  170|  170|           1| 5.5|  0.5|    0.5|1.36| 0.0|      8.16|2017-02-01|00:00:01|2017-02-01|00:05:29|
|    230|Manhattan|Times Sq/Theatre ...|     79|Manhattan|        East Village|              2|     2.8|         1|  230|   79|           1|10.5|  0.5|    0.5|2.36| 0.0|     14.16|2017-02-01|00:00:02|2017-02-01|00:10:45|
|    142|Manhattan| Lincoln Square East|    246|Manhattan|West Chelsea/Huds...|              1|    2.48|         1|  142|  246|           2| 9.5|  0.5|    0.5| 0.0| 0.0|      10.8|2017-02-01|00:00:03|2017-02-01|00:07:27|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
only showing top 20 rows

In [14]:
byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(2))

Grapht = df_joined.select('PUZone', 'DOZone', 'month')
Grapht = Grapht.groupBy('PUZone', 'DOZone').count()
Grapht = Grapht.withColumn("month",lit(2))
Grapht = Grapht.selectExpr("PUZone as src", "DOZone as dst", "count as count", "month as month")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
Grapht = Grapht.join(byTotalFare,[Grapht.src==byTotalFare.PUZone, Grapht.dst==byTotalFare.DOZone],'left_outer')
Grapht = Grapht.drop('PUZone', 'DOZone')
Grapht = Grapht.withColumnRenamed("avg(total_fare)", "avg_fare")
Graph = Graph.union(Grapht)
Graph.show()

+--------------------+--------------------+-----+-----+------------------+
|                 src|                 dst|count|month|          avg_fare|
+--------------------+--------------------+-----+-----+------------------+
|Allerton/Pelham G...|        East Tremont|    1|    1|              11.8|
|        Battery Park|         Fort Greene|   10|    1|20.003000000000004|
|        Battery Park|     Windsor Terrace|    4|    1|            30.445|
|   Battery Park City|        East Village| 1716|    1| 18.92319930069934|
|        Bloomingdale|           Chinatown|    7|    1| 32.61714285714286|
|        Bloomingdale|     Mariners Harbor|    1|    1|             85.42|
|           Bronxdale|         Eastchester|    1|    1|               9.3|
|  Brooklyn Navy Yard|          Kensington|    1|    1|              18.3|
|      Bushwick North|    Hamilton Heights|    4|    1|           53.8475|
|      Bushwick South|Long Island City/...|    5|    1|            22.432|
|     Carroll Gardens|Upper West Side S...|    9|    1| 38.09444444444445|
|      Central Harlem|         Brownsville|    2|    1|            68.005|
|Central Harlem North|   Crotona Park East|   18|    1|22.465000000000003|
|Central Harlem North|        Far Rockaway|    1|    1|             72.84|
|Central Harlem North|           Flatlands|    1|    1|             88.34|
|Central Harlem North|              Inwood|   68|    1|18.413676470588236|
|        Central Park|Briarwood/Jamaica...|    2|    1|             50.82|
|        Clinton Hill|  Brooklyn Navy Yard|   17|    1| 7.828235294117646|
|        Clinton Hill|      Central Harlem|    2|    1|             50.84|
|        Clinton West|             Madison|    6|    1|52.306666666666665|
+--------------------+--------------------+-----+-----+------------------+
only showing top 20 rows

In [15]:
########## max distance
max_distt = df_joined.orderBy('distance', ascending=False)
max_distt = max_distt.limit(10)
max_distt = max_distt.withColumnRenamed("distance", "max_distance")
max_distt = max_distt.select('PUZone', 'DOZone', 'max_distance', 'month')
max_dist = max_dist.union(max_distt)
max_dist.show()

+--------------------+--------------------+------------+-----+
|              PUZone|              DOZone|max_distance|month|
+--------------------+--------------------+------------+-----+
|Springfield Garde...|                  NA|      264.71|    1|
|          Ocean Hill|Two Bridges/Sewar...|       180.7|    1|
|         JFK Airport| UN/Turtle Bay South|       173.2|    1|
|     Mariners Harbor|                  NA|      156.17|    1|
|        Clinton East|                  NA|       151.7|    1|
|Flushing Meadows-...|                  NA|      143.45|    1|
|                  NA|                  NA|       143.4|    1|
|         JFK Airport|                  NA|       143.4|    1|
|       Richmond Hill|                  NA|       141.8|    1|
|         JFK Airport|                  NA|      139.17|    1|
|Prospect-Lefferts...|        Clinton Hill|       324.0|    2|
|           Bay Ridge|                  NA|      298.47|    2|
|             Bedford|             Bedford|       282.0|    2|
|            Gramercy|                  NA|       221.7|    2|
|    Garment District|                  NA|      196.73|    2|
|      Sheepshead Bay|             Bedford|       190.2|    2|
|Mott Haven/Port M...|                  NA|       182.3|    2|
| Little Italy/NoLiTa|                  NA|       142.3|    2|
| Little Italy/NoLiTa| Little Italy/NoLiTa|       138.4|    2|
|         JFK Airport|  World Trade Center|      132.58|    2|
+--------------------+--------------------+------------+-----+

In [16]:
######max fare
max_faret = df_joined.orderBy('total_fare', ascending=False)
max_faret = max_faret.limit(10)
max_faret = max_faret.withColumnRenamed("total_fare", "max_fare")
max_faret = max_faret.select('PUZone', 'DOZone', 'max_fare', 'month')
max_fare = max_fare.union(max_faret)
max_fare.show()

+--------------------+--------------------+---------+-----+
|              PUZone|              DOZone| max_fare|month|
+--------------------+--------------------+---------+-----+
|Upper West Side S...|                  NV| 625901.6|    1|
|Two Bridges/Sewar...|Washington Height...| 538580.0|    1|
|Upper East Side S...|     Lenox Hill West|   9001.3|    1|
|                  NV|                  NV|  8043.84|    1|
|       Midtown North|Times Sq/Theatre ...|   3009.8|    1|
|                  NV|                  NV|   3009.3|    1|
|           Sunnyside|           Sunnyside|  2000.28|    1|
|           Sunnyside|           Sunnyside|  2000.28|    1|
|           Sunnyside|           Sunnyside|  2000.28|    1|
|           Sunnyside|           Sunnyside|  1000.29|    1|
|            Union Sq|      Midtown Center|361772.02|    2|
|Upper East Side N...|Upper West Side S...|335545.21|    2|
|Upper West Side N...|      Midtown Center|171856.99|    2|
|Upper East Side N...|            Gramercy|   8018.6|    2|
|                  NV|                  NV|   8009.3|    2|
|                  NV|                  NV|   8005.8|    2|
|Upper West Side N...| Lincoln Square West|  7003.51|    2|
|            Gramercy|            Kips Bay|   6722.4|    2|
|                  NV|                  NV|  5447.82|    2|
|             Bedford|             Bedford|  1206.24|    2|
+--------------------+--------------------+---------+-----+

In [17]:
#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))

df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|   PUHour|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+
|     87|Manhattan|Financial Distric...|    246|Manhattan|West Chelsea/Huds...|              1|    3.29|         1|   87|  246|           1|14.0|  0.0|    0.5| 1.5| 0.0|      16.3|2017-02-03|02:03:50|2017-02-03|02:20:55|    2| midnight|
|     68|Manhattan|        East Chelsea|    239|Manhattan|Upper West Side S...|              1|     2.8|         1|   68|  239|           2|15.0|  0.0|    0.5| 0.0| 0.0|      15.8|2017-02-03|02:26:04|2017-02-03|02:46:47|    2| midnight|
|    239|Manhattan|Upper West Side S...|     43|Manhattan|        Central Park|              1|     0.9|         1|  239|   43|           1| 6.0|  0.0|    0.5|1.36| 0.0|      8.16|2017-02-03|02:49:51|2017-02-03|09:56:17|    2| midnight|
|    163|Manhattan|       Midtown North|    230|Manhattan|Times Sq/Theatre ...|              1|    0.72|         1|  163|  230|           1| 8.0|  0.0|    0.5|1.76| 0.0|     10.56|2017-02-03|04:41:54|2017-02-03|04:52:41|    2| midnight|
|    186|Manhattan|Penn Station/Madi...|    230|Manhattan|Times Sq/Theatre ...|              1|     1.1|         1|  186|  230|           1|11.0|  0.0|    0.5|3.54| 0.0|     15.34|2017-02-03|04:57:38|2017-02-03|12:16:14|    2| midnight|
|    141|Manhattan|     Lenox Hill West|    162|Manhattan|        Midtown East|              1|    0.93|         1|  141|  162|           2| 9.0|  0.0|    0.5| 0.0| 0.0|       9.8|2017-02-21|14:50:07|2017-02-21|15:03:08|    2|afternoon|
|    234|Manhattan|            Union Sq|     68|Manhattan|        East Chelsea|              6|    0.84|         1|  234|   68|           1| 5.0|  0.5|    0.5|0.88| 0.0|      7.18|2017-02-21|23:23:09|2017-02-21|23:26:18|    2|  evening|
|    249|Manhattan|        West Village|    161|Manhattan|      Midtown Center|              6|    2.01|         1|  249|  161|           1|10.0|  0.5|    0.5|2.82| 0.0|     14.12|2017-02-21|23:28:20|2017-02-21|23:39:56|    2|  evening|
|    144|Manhattan| Little Italy/NoLiTa|     87|Manhattan|Financial Distric...|              6|    1.52|         1|  144|   87|           1| 7.0|  0.5|    0.5|2.08| 0.0|     10.38|2017-02-21|23:55:03|2017-02-22|00:01:38|    2|  evening|
|    230|Manhattan|Times Sq/Theatre ...|     68|Manhattan|        East Chelsea|              1|    1.01|         1|  230|   68|           1| 8.0|  0.0|    0.5|2.64| 0.0|     11.44|2017-02-24|12:17:57|2017-02-24|12:28:02|    2|afternoon|
|     68|Manhattan|        East Chelsea|     68|Manhattan|        East Chelsea|              1|    0.72|         1|   68|   68|           1| 4.5|  0.0|    0.5|1.59| 0.0|      6.89|2017-02-24|12:29:32|2017-02-24|12:33:03|    2|afternoon|
|    231|Manhattan|TriBeCa/Civic Center|    113|Manhattan|Greenwich Village...|              1|     1.6|         1|  231|  113|           1| 9.0|  0.0|    0.5|1.96| 0.0|     11.76|2017-02-24|12:47:50|2017-02-24|12:59:48|    2|afternoon|
|    113|Manhattan|Greenwich Village...|    239|Manhattan|Upper West Side S...|              1|    4.31|         1|  113|  239|           1|34.5|  0.0|    0.5| 3.0| 0.0|      38.3|2017-02-24|13:03:57|2017-02-24|22:04:42|    2|afternoon|
|    138|   Queens|   LaGuardia Airport|    162|Manhattan|        Midtown East|              1|    10.3|         1|  138|  162|           2|30.5|  0.5|    0.5| 0.0|5.54|     37.34|2017-02-01|00:00:00|2017-02-01|00:20:43|    2| midnight|
|    132|   Queens|         JFK Airport|    123| Brooklyn|           Homecrest|              1|   16.05|         1|  132|  123|           2|44.0|  0.5|    0.5| 0.0| 0.0|      45.3|2017-02-01|00:00:00|2017-02-01|00:24:23|    2| midnight|
|    148|Manhattan|     Lower East Side|     68|Manhattan|        East Chelsea|              1|     2.4|         1|  148|   68|           1|12.0|  0.5|    0.5| 3.0| 0.0|      16.3|2017-02-01|00:00:01|2017-02-01|00:14:45|    2| midnight|
|    137|Manhattan|            Kips Bay|    213|    Bronx|Soundview/Castle ...|              1|    10.4|         1|  137|  213|           1|30.5|  0.5|    0.5|6.35| 0.0|     38.15|2017-02-01|00:00:01|2017-02-01|00:21:12|    2| midnight|
|    170|Manhattan|         Murray Hill|    170|Manhattan|         Murray Hill|              4|    0.76|         1|  170|  170|           1| 5.5|  0.5|    0.5|1.36| 0.0|      8.16|2017-02-01|00:00:01|2017-02-01|00:05:29|    2| midnight|
|    230|Manhattan|Times Sq/Theatre ...|     79|Manhattan|        East Village|              2|     2.8|         1|  230|   79|           1|10.5|  0.5|    0.5|2.36| 0.0|     14.16|2017-02-01|00:00:02|2017-02-01|00:10:45|    2| midnight|
|    142|Manhattan| Lincoln Square East|    246|Manhattan|West Chelsea/Huds...|              1|    2.48|         1|  142|  246|           2| 9.5|  0.5|    0.5| 0.0| 0.0|      10.8|2017-02-01|00:00:03|2017-02-01|00:07:27|    2| midnight|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+---------+
only showing top 20 rows

In [18]:
###### by time
PUByTimet = df_joined.groupBy('PUHour', 'PUZone', 'month').count()
PUByTimet = PUByTimet.orderBy('count', ascending=False)
PUByTime = PUByTime.union(PUByTimet)
PUByTime.show()

+---------+--------------------+-----+------+
|   PUHour|              PUZone|month| count|
+---------+--------------------+-----+------+
|afternoon|Upper East Side S...|    1|157826|
|afternoon|Upper East Side N...|    1|151358|
|  evening|Times Sq/Theatre ...|    1|136867|
|  evening|      Midtown Center|    1|136487|
|afternoon|      Midtown Center|    1|134284|
|  evening|            Union Sq|    1|129806|
|  evening|        Midtown East|    1|123194|
|  morning|Upper East Side N...|    1|115309|
|afternoon|        Midtown East|    1|110824|
|  evening|        East Village|    1|110726|
|afternoon|            Union Sq|    1|109299|
|  evening|Penn Station/Madi...|    1|108464|
|  evening|Upper East Side S...|    1|105797|
|  evening| Lincoln Square East|    1|104454|
|  morning|Penn Station/Madi...|    1|104143|
|  morning|Upper East Side S...|    1|103239|
|afternoon|Penn Station/Madi...|    1|102715|
|  evening|        Clinton East|    1|101075|
|afternoon|Upper West Side S...|    1| 98988|
|afternoon|         Murray Hill|    1| 98182|
+---------+--------------------+-----+------+
only showing top 20 rows

In [19]:
####### best PU locs
best_locst = df_joined.groupBy('PUZone', 'month').count()
best_locs = best_locs.union(best_locst)
best_locs.show()

+--------------------+-----+------+
|              PUZone|month| count|
+--------------------+-----+------+
|Upper East Side S...|    1|380663|
|Upper East Side N...|    1|363649|
|      Midtown Center|    1|360995|
|Penn Station/Madi...|    1|339970|
|Times Sq/Theatre ...|    1|334079|
|            Union Sq|    1|333035|
|        Midtown East|    1|330946|
|         Murray Hill|    1|306244|
|        East Village|    1|303580|
|        Clinton East|    1|297414|
| Lincoln Square East|    1|277230|
|Upper West Side S...|    1|252264|
|       Midtown North|    1|250939|
|            Gramercy|    1|238695|
|       Midtown South|    1|227768|
|         JFK Airport|    1|227167|
|     Lenox Hill West|    1|226739|
|        East Chelsea|    1|224558|
|   LaGuardia Airport|    1|212193|
|        West Village|    1|211629|
+--------------------+-----+------+
only showing top 20 rows

In [20]:
###############################################
#### March

jan = spark.read.csv('../bigdata/yellow_tripdata_2017-03.csv', header=True, inferSchema = True)
jan = jan.drop('VendorID','store_and_fwd_flag' ,'improvement_surcharge')

import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

In [21]:
df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
|    148|Manhattan|     Lower East Side|     48|Manhattan|        Clinton East|              1|    4.06|         1|  148|   48|           1|14.0|  0.5|    0.5|3.06| 0.0|     18.36|2017-03-09|21:30:11|2017-03-09|21:44:20|
|     48|Manhattan|        Clinton East|    107|Manhattan|            Gramercy|              1|    2.73|         1|   48|  107|           2|11.5|  0.5|    0.5| 0.0| 0.0|      12.8|2017-03-09|21:47:00|2017-03-09|21:58:01|
|     79|Manhattan|        East Village|    162|Manhattan|        Midtown East|              1|    2.27|         1|   79|  162|           1|10.0|  0.5|    0.5|2.82| 0.0|     14.12|2017-03-09|22:01:08|2017-03-09|22:11:16|
|    237|Manhattan|Upper East Side S...|     41|Manhattan|      Central Harlem|              1|    3.86|         1|  237|   41|           1|12.0|  0.5|    0.5|3.99| 0.0|     17.29|2017-03-09|22:16:05|2017-03-10|06:26:11|
|     41|Manhattan|      Central Harlem|    162|Manhattan|        Midtown East|              1|    3.45|         1|   41|  162|           2|12.0|  0.5|    0.5| 0.0| 0.0|      13.3|2017-03-31|06:31:53|2017-03-31|06:41:48|
|    261|Manhattan|  World Trade Center|     79|Manhattan|        East Village|              1|     2.8|         1|  261|   79|           1|12.5|  0.5|    0.5| 1.0| 0.0|      14.8|2017-03-01|00:00:00|2017-03-01|00:14:22|
|     87|Manhattan|Financial Distric...|    142|Manhattan| Lincoln Square East|              1|     6.0|         1|   87|  142|           1|19.5|  0.5|    0.5| 3.5| 0.0|      24.3|2017-03-01|00:00:00|2017-03-01|00:19:30|
|    142|Manhattan| Lincoln Square East|    181| Brooklyn|          Park Slope|              1|     8.7|         1|  142|  181|           1|30.0|  0.5|    0.5| 7.8| 0.0|      39.1|2017-03-01|00:00:00|2017-03-01|00:34:27|
|     68|Manhattan|        East Chelsea|    141|Manhattan|     Lenox Hill West|              1|     3.7|         1|   68|  141|           1|16.5|  0.5|    0.5| 1.5| 0.0|      19.3|2017-03-01|00:00:00|2017-03-01|00:21:31|
|    261|Manhattan|  World Trade Center|    163|Manhattan|       Midtown North|              1|    4.21|         1|  261|  163|           1|20.5|  0.0|    0.5|4.26| 0.0|     25.56|2017-03-15|00:07:59|2017-03-15|00:38:08|
|    161|Manhattan|      Midtown Center|    113|Manhattan|Greenwich Village...|              1|    2.07|         1|  161|  113|           1| 8.5|  0.5|    0.5|1.96| 0.0|     11.76|2017-03-01|00:00:00|2017-03-01|00:07:26|
|    170|Manhattan|         Murray Hill|    161|Manhattan|      Midtown Center|              2|    1.26|         1|  170|  161|           1| 7.0|  0.5|    0.5|1.66| 0.0|      9.96|2017-03-01|00:00:00|2017-03-01|00:07:51|
|    256| Brooklyn|Williamsburg (Sou...|     65| Brooklyn|Downtown Brooklyn...|              1|    2.91|         1|  256|   65|           1|11.5|  0.5|    0.5|2.56| 0.0|     15.36|2017-03-01|00:00:00|2017-03-01|00:10:40|
|    132|   Queens|         JFK Airport|     10|   Queens|        Baisley Park|              1|     4.7|         1|  132|   10|           1|15.5|  0.3|    0.5| 0.0| 0.0|      16.6|2017-03-01|00:00:00|2017-03-01|06:46:27|
|    132|   Queens|         JFK Airport|     50|Manhattan|        Clinton West|              5|    1.86|         1|  132|   50|           1|19.0|  0.0|    0.5|2.97| 0.0|     22.77|2017-03-01|00:00:00|2017-03-01|00:00:00|
|    138|   Queens|   LaGuardia Airport|     25| Brooklyn|         Boerum Hill|              5|    9.88|         1|  138|   25|           1|36.5|  1.0|    0.5|7.66| 0.0|     45.96|2017-03-01|00:00:00|2017-03-01|00:00:00|
|     45|Manhattan|           Chinatown|    116|Manhattan|    Hamilton Heights|              3|     9.4|         1|   45|  116|           1|29.0|  0.5|    0.5|9.05| 0.0|     39.35|2017-03-01|00:00:01|2017-03-01|00:30:30|
|    100|Manhattan|    Garment District|    230|Manhattan|Times Sq/Theatre ...|              1|    0.83|         1|  100|  230|           1| 6.0|  0.5|    0.5|1.82| 0.0|      9.12|2017-03-01|00:00:01|2017-03-01|00:06:09|
|    170|Manhattan|         Murray Hill|    223|   Queens|            Steinway|              1|     5.7|         1|  170|  223|           1|21.5|  0.5|    0.5|4.55| 0.0|     27.35|2017-03-01|00:00:02|2017-03-01|00:25:33|
|     79|Manhattan|        East Village|    161|Manhattan|      Midtown Center|              1|    2.43|         1|   79|  161|           1|10.5|  0.5|    0.5|2.95| 0.0|     14.75|2017-03-01|00:00:02|2017-03-01|00:10:41|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
only showing top 20 rows

In [22]:
byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(3))

Grapht = df_joined.select('PUZone', 'DOZone', 'month')
Grapht = Grapht.groupBy('PUZone', 'DOZone').count()
Grapht = Grapht.withColumn("month",lit(3))
Grapht = Grapht.selectExpr("PUZone as src", "DOZone as dst", "count as count", "month as month")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
Grapht = Grapht.join(byTotalFare,[Grapht.src==byTotalFare.PUZone, Grapht.dst==byTotalFare.DOZone],'left_outer')
Grapht = Grapht.drop('PUZone', 'DOZone')
Grapht = Grapht.withColumnRenamed("avg(total_fare)", "avg_fare")
Graph = Graph.union(Grapht)
Graph.show()

+--------------------+--------------------+-----+-----+------------------+
|                 src|                 dst|count|month|          avg_fare|
+--------------------+--------------------+-----+-----+------------------+
|Allerton/Pelham G...|        East Tremont|    1|    1|              11.8|
|        Battery Park|         Fort Greene|   10|    1|20.003000000000004|
|        Battery Park|     Windsor Terrace|    4|    1|            30.445|
|   Battery Park City|        East Village| 1716|    1| 18.92319930069934|
|        Bloomingdale|           Chinatown|    7|    1| 32.61714285714286|
|        Bloomingdale|     Mariners Harbor|    1|    1|             85.42|
|           Bronxdale|         Eastchester|    1|    1|               9.3|
|  Brooklyn Navy Yard|          Kensington|    1|    1|              18.3|
|      Bushwick North|    Hamilton Heights|    4|    1|           53.8475|
|      Bushwick South|Long Island City/...|    5|    1|            22.432|
|     Carroll Gardens|Upper West Side S...|    9|    1| 38.09444444444445|
|      Central Harlem|         Brownsville|    2|    1|            68.005|
|Central Harlem North|   Crotona Park East|   18|    1|22.465000000000003|
|Central Harlem North|        Far Rockaway|    1|    1|             72.84|
|Central Harlem North|           Flatlands|    1|    1|             88.34|
|Central Harlem North|              Inwood|   68|    1|18.413676470588236|
|        Central Park|Briarwood/Jamaica...|    2|    1|             50.82|
|        Clinton Hill|  Brooklyn Navy Yard|   17|    1| 7.828235294117646|
|        Clinton Hill|      Central Harlem|    2|    1|             50.84|
|        Clinton West|             Madison|    6|    1|52.306666666666665|
+--------------------+--------------------+-----+-----+------------------+
only showing top 20 rows

In [23]:
########## max distance
max_distt = df_joined.orderBy('distance', ascending=False)
max_distt = max_distt.limit(10)
max_distt = max_distt.withColumnRenamed("distance", "max_distance")
max_distt = max_distt.select('PUZone', 'DOZone', 'max_distance', 'month')
max_dist = max_dist.union(max_distt)
max_dist.show()

+--------------------+--------------------+------------+-----+
|              PUZone|              DOZone|max_distance|month|
+--------------------+--------------------+------------+-----+
|Springfield Garde...|                  NA|      264.71|    1|
|          Ocean Hill|Two Bridges/Sewar...|       180.7|    1|
|         JFK Airport| UN/Turtle Bay South|       173.2|    1|
|     Mariners Harbor|                  NA|      156.17|    1|
|        Clinton East|                  NA|       151.7|    1|
|Flushing Meadows-...|                  NA|      143.45|    1|
|                  NA|                  NA|       143.4|    1|
|         JFK Airport|                  NA|       143.4|    1|
|       Richmond Hill|                  NA|       141.8|    1|
|         JFK Airport|                  NA|      139.17|    1|
|Prospect-Lefferts...|        Clinton Hill|       324.0|    2|
|           Bay Ridge|                  NA|      298.47|    2|
|             Bedford|             Bedford|       282.0|    2|
|            Gramercy|                  NA|       221.7|    2|
|    Garment District|                  NA|      196.73|    2|
|      Sheepshead Bay|             Bedford|       190.2|    2|
|Mott Haven/Port M...|                  NA|       182.3|    2|
| Little Italy/NoLiTa|                  NA|       142.3|    2|
| Little Italy/NoLiTa| Little Italy/NoLiTa|       138.4|    2|
|         JFK Airport|  World Trade Center|      132.58|    2|
+--------------------+--------------------+------------+-----+
only showing top 20 rows

In [24]:
######max fare
max_faret = df_joined.orderBy('total_fare', ascending=False)
max_faret = max_faret.limit(10)
max_faret = max_faret.withColumnRenamed("total_fare", "max_fare")
max_faret = max_faret.select('PUZone', 'DOZone', 'max_fare', 'month')
max_fare = max_fare.union(max_faret)
max_fare.show()

+--------------------+--------------------+---------+-----+
|              PUZone|              DOZone| max_fare|month|
+--------------------+--------------------+---------+-----+
|Upper West Side S...|                  NV| 625901.6|    1|
|Two Bridges/Sewar...|Washington Height...| 538580.0|    1|
|Upper East Side S...|     Lenox Hill West|   9001.3|    1|
|                  NV|                  NV|  8043.84|    1|
|       Midtown North|Times Sq/Theatre ...|   3009.8|    1|
|                  NV|                  NV|   3009.3|    1|
|           Sunnyside|           Sunnyside|  2000.28|    1|
|           Sunnyside|           Sunnyside|  2000.28|    1|
|           Sunnyside|           Sunnyside|  2000.28|    1|
|           Sunnyside|           Sunnyside|  1000.29|    1|
|            Union Sq|      Midtown Center|361772.02|    2|
|Upper East Side N...|Upper West Side S...|335545.21|    2|
|Upper West Side N...|      Midtown Center|171856.99|    2|
|Upper East Side N...|            Gramercy|   8018.6|    2|
|                  NV|                  NV|   8009.3|    2|
|                  NV|                  NV|   8005.8|    2|
|Upper West Side N...| Lincoln Square West|  7003.51|    2|
|            Gramercy|            Kips Bay|   6722.4|    2|
|                  NV|                  NV|  5447.82|    2|
|             Bedford|             Bedford|  1206.24|    2|
+--------------------+--------------------+---------+-----+
only showing top 20 rows

In [25]:
#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))
df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|  PUHour|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+
|    148|Manhattan|     Lower East Side|     48|Manhattan|        Clinton East|              1|    4.06|         1|  148|   48|           1|14.0|  0.5|    0.5|3.06| 0.0|     18.36|2017-03-09|21:30:11|2017-03-09|21:44:20|    3| evening|
|     48|Manhattan|        Clinton East|    107|Manhattan|            Gramercy|              1|    2.73|         1|   48|  107|           2|11.5|  0.5|    0.5| 0.0| 0.0|      12.8|2017-03-09|21:47:00|2017-03-09|21:58:01|    3| evening|
|     79|Manhattan|        East Village|    162|Manhattan|        Midtown East|              1|    2.27|         1|   79|  162|           1|10.0|  0.5|    0.5|2.82| 0.0|     14.12|2017-03-09|22:01:08|2017-03-09|22:11:16|    3| evening|
|    237|Manhattan|Upper East Side S...|     41|Manhattan|      Central Harlem|              1|    3.86|         1|  237|   41|           1|12.0|  0.5|    0.5|3.99| 0.0|     17.29|2017-03-09|22:16:05|2017-03-10|06:26:11|    3| evening|
|     41|Manhattan|      Central Harlem|    162|Manhattan|        Midtown East|              1|    3.45|         1|   41|  162|           2|12.0|  0.5|    0.5| 0.0| 0.0|      13.3|2017-03-31|06:31:53|2017-03-31|06:41:48|    3| morning|
|    261|Manhattan|  World Trade Center|     79|Manhattan|        East Village|              1|     2.8|         1|  261|   79|           1|12.5|  0.5|    0.5| 1.0| 0.0|      14.8|2017-03-01|00:00:00|2017-03-01|00:14:22|    3|midnight|
|     87|Manhattan|Financial Distric...|    142|Manhattan| Lincoln Square East|              1|     6.0|         1|   87|  142|           1|19.5|  0.5|    0.5| 3.5| 0.0|      24.3|2017-03-01|00:00:00|2017-03-01|00:19:30|    3|midnight|
|    142|Manhattan| Lincoln Square East|    181| Brooklyn|          Park Slope|              1|     8.7|         1|  142|  181|           1|30.0|  0.5|    0.5| 7.8| 0.0|      39.1|2017-03-01|00:00:00|2017-03-01|00:34:27|    3|midnight|
|     68|Manhattan|        East Chelsea|    141|Manhattan|     Lenox Hill West|              1|     3.7|         1|   68|  141|           1|16.5|  0.5|    0.5| 1.5| 0.0|      19.3|2017-03-01|00:00:00|2017-03-01|00:21:31|    3|midnight|
|    261|Manhattan|  World Trade Center|    163|Manhattan|       Midtown North|              1|    4.21|         1|  261|  163|           1|20.5|  0.0|    0.5|4.26| 0.0|     25.56|2017-03-15|00:07:59|2017-03-15|00:38:08|    3|midnight|
|    161|Manhattan|      Midtown Center|    113|Manhattan|Greenwich Village...|              1|    2.07|         1|  161|  113|           1| 8.5|  0.5|    0.5|1.96| 0.0|     11.76|2017-03-01|00:00:00|2017-03-01|00:07:26|    3|midnight|
|    170|Manhattan|         Murray Hill|    161|Manhattan|      Midtown Center|              2|    1.26|         1|  170|  161|           1| 7.0|  0.5|    0.5|1.66| 0.0|      9.96|2017-03-01|00:00:00|2017-03-01|00:07:51|    3|midnight|
|    256| Brooklyn|Williamsburg (Sou...|     65| Brooklyn|Downtown Brooklyn...|              1|    2.91|         1|  256|   65|           1|11.5|  0.5|    0.5|2.56| 0.0|     15.36|2017-03-01|00:00:00|2017-03-01|00:10:40|    3|midnight|
|    132|   Queens|         JFK Airport|     10|   Queens|        Baisley Park|              1|     4.7|         1|  132|   10|           1|15.5|  0.3|    0.5| 0.0| 0.0|      16.6|2017-03-01|00:00:00|2017-03-01|06:46:27|    3|midnight|
|    132|   Queens|         JFK Airport|     50|Manhattan|        Clinton West|              5|    1.86|         1|  132|   50|           1|19.0|  0.0|    0.5|2.97| 0.0|     22.77|2017-03-01|00:00:00|2017-03-01|00:00:00|    3|midnight|
|    138|   Queens|   LaGuardia Airport|     25| Brooklyn|         Boerum Hill|              5|    9.88|         1|  138|   25|           1|36.5|  1.0|    0.5|7.66| 0.0|     45.96|2017-03-01|00:00:00|2017-03-01|00:00:00|    3|midnight|
|     45|Manhattan|           Chinatown|    116|Manhattan|    Hamilton Heights|              3|     9.4|         1|   45|  116|           1|29.0|  0.5|    0.5|9.05| 0.0|     39.35|2017-03-01|00:00:01|2017-03-01|00:30:30|    3|midnight|
|    100|Manhattan|    Garment District|    230|Manhattan|Times Sq/Theatre ...|              1|    0.83|         1|  100|  230|           1| 6.0|  0.5|    0.5|1.82| 0.0|      9.12|2017-03-01|00:00:01|2017-03-01|00:06:09|    3|midnight|
|    170|Manhattan|         Murray Hill|    223|   Queens|            Steinway|              1|     5.7|         1|  170|  223|           1|21.5|  0.5|    0.5|4.55| 0.0|     27.35|2017-03-01|00:00:02|2017-03-01|00:25:33|    3|midnight|
|     79|Manhattan|        East Village|    161|Manhattan|      Midtown Center|              1|    2.43|         1|   79|  161|           1|10.5|  0.5|    0.5|2.95| 0.0|     14.75|2017-03-01|00:00:02|2017-03-01|00:10:41|    3|midnight|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+
only showing top 20 rows

In [26]:
###### by time
PUByTimet = df_joined.groupBy('PUHour', 'PUZone', 'month').count()
PUByTimet = PUByTimet.orderBy('count', ascending=False)
PUByTime = PUByTime.union(PUByTimet)
PUByTime.show()

+---------+--------------------+-----+------+
|   PUHour|              PUZone|month| count|
+---------+--------------------+-----+------+
|afternoon|Upper East Side S...|    1|157826|
|afternoon|Upper East Side N...|    1|151358|
|  evening|Times Sq/Theatre ...|    1|136867|
|  evening|      Midtown Center|    1|136487|
|afternoon|      Midtown Center|    1|134284|
|  evening|            Union Sq|    1|129806|
|  evening|        Midtown East|    1|123194|
|  morning|Upper East Side N...|    1|115309|
|afternoon|        Midtown East|    1|110824|
|  evening|        East Village|    1|110726|
|afternoon|            Union Sq|    1|109299|
|  evening|Penn Station/Madi...|    1|108464|
|  evening|Upper East Side S...|    1|105797|
|  evening| Lincoln Square East|    1|104454|
|  morning|Penn Station/Madi...|    1|104143|
|  morning|Upper East Side S...|    1|103239|
|afternoon|Penn Station/Madi...|    1|102715|
|  evening|        Clinton East|    1|101075|
|afternoon|Upper West Side S...|    1| 98988|
|afternoon|         Murray Hill|    1| 98182|
+---------+--------------------+-----+------+
only showing top 20 rows

In [27]:
####### best PU locs
best_locst = df_joined.groupBy('PUZone', 'month').count()
best_locs = best_locs.union(best_locst)
best_locs.show()

+--------------------+-----+------+
|              PUZone|month| count|
+--------------------+-----+------+
|Upper East Side S...|    1|380663|
|Upper East Side N...|    1|363649|
|      Midtown Center|    1|360995|
|Penn Station/Madi...|    1|339970|
|Times Sq/Theatre ...|    1|334079|
|            Union Sq|    1|333035|
|        Midtown East|    1|330946|
|         Murray Hill|    1|306244|
|        East Village|    1|303580|
|        Clinton East|    1|297414|
| Lincoln Square East|    1|277230|
|Upper West Side S...|    1|252264|
|       Midtown North|    1|250939|
|            Gramercy|    1|238695|
|       Midtown South|    1|227768|
|         JFK Airport|    1|227167|
|     Lenox Hill West|    1|226739|
|        East Chelsea|    1|224558|
|   LaGuardia Airport|    1|212193|
|        West Village|    1|211629|
+--------------------+-----+------+
only showing top 20 rows

In [28]:
#################################################################
##### April
jan = spark.read.csv('../bigdata/yellow_tripdata_2017-04.csv', header=True, inferSchema = True)
jan = jan.drop('VendorID','store_and_fwd_flag' ,'improvement_surcharge')

import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

In [29]:
df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+-----+----+----------+----------+--------+----------+--------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax|  tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+-----+----+----------+----------+--------+----------+--------+
|    158|Manhattan|Meatpacking/West ...|    113|Manhattan|Greenwich Village...|              1|     1.8|         1|  158|  113|           2|10.5|  0.5|    0.5|  0.0| 0.0|      11.8|2017-04-01|00:00:00|2017-04-01|00:15:07|
|     87|Manhattan|Financial Distric...|    158|Manhattan|Meatpacking/West ...|              3|     3.7|         1|   87|  158|           2|14.5|  0.5|    0.5|  0.0| 0.0|      15.8|2017-04-01|00:00:00|2017-04-01|00:16:23|
|    264|  Unknown|                  NV|    193|   Queens|Queensbridge/Rave...|              1|     0.0|         1|  264|  193|           1| 0.0|  0.0|    0.0|  0.0| 0.0|       0.0|2017-04-01|00:00:00|2017-04-01|10:20:01|
|    230|Manhattan|Times Sq/Theatre ...|      4|Manhattan|       Alphabet City|              2|     3.3|         1|  230|    4|           1|23.5|  0.5|    0.5| 4.95| 0.0|     29.75|2017-04-01|00:00:01|2017-04-01|00:37:05|
|    142|Manhattan| Lincoln Square East|    143|Manhattan| Lincoln Square West|              1|     0.7|         1|  142|  143|           2| 4.5|  0.5|    0.5|  0.0| 0.0|       5.8|2017-04-01|00:00:01|2017-04-01|00:02:56|
|    170|Manhattan|         Murray Hill|    263|Manhattan|      Yorkville West|              1|     2.2|         1|  170|  263|           1| 8.5|  0.5|    0.5| 2.45| 0.0|     12.25|2017-04-01|00:00:01|2017-04-01|00:07:28|
|    100|Manhattan|    Garment District|     48|Manhattan|        Clinton East|              1|     0.7|         1|  100|   48|           1| 7.0|  0.5|    0.5| 1.65| 0.0|      9.95|2017-04-01|00:00:01|2017-04-01|00:08:30|
|    166|Manhattan| Morningside Heights|    166|Manhattan| Morningside Heights|              1|     0.4|         1|  166|  166|           2| 4.0|  0.5|    0.5|  0.0| 0.0|       5.3|2017-04-01|00:00:01|2017-04-01|00:02:40|
|    113|Manhattan|Greenwich Village...|     68|Manhattan|        East Chelsea|              1|    1.23|         1|  113|   68|           1| 8.0|  0.5|    0.5|  1.0| 0.0|      10.3|2017-04-01|00:00:01|2017-04-01|00:10:20|
|     68|Manhattan|        East Chelsea|     68|Manhattan|        East Chelsea|              1|    0.55|         1|   68|   68|           1| 4.0|  0.0|    0.5|  0.0| 0.0|       4.8|2017-04-05|07:52:23|2017-04-05|07:55:02|
|     88|Manhattan|Financial Distric...|    246|Manhattan|West Chelsea/Huds...|              6|    3.72|         1|   88|  246|           1|18.5|  1.0|    0.5| 3.04| 0.0|     25.29|2017-04-26|15:45:22|2017-04-26|16:10:00|
|    246|Manhattan|West Chelsea/Huds...|    114|Manhattan|Greenwich Village...|              6|    2.29|         1|  246|  114|           1|12.5|  1.0|    0.5|  1.0| 0.0|      15.3|2017-04-26|16:12:29|2017-04-26|16:28:35|
|    113|Manhattan|Greenwich Village...|    170|Manhattan|         Murray Hill|              6|    1.81|         1|  113|  170|           2|10.0|  1.0|    0.5|  0.0| 0.0|      11.8|2017-04-26|16:32:00|2017-04-26|23:46:19|
|    162|Manhattan|        Midtown East|    261|Manhattan|  World Trade Center|              1|    5.67|         1|  162|  261|           2|33.0|  0.5|    0.5|  0.0| 0.0|      34.3|2017-04-01|00:00:01|2017-04-01|00:46:22|
|    132|   Queens|         JFK Airport|    234|Manhattan|            Union Sq|              1|   18.21|         2|  132|  234|           1|52.0|  0.0|    0.5|14.64|5.76|      73.2|2017-04-01|00:00:01|2017-04-01|00:31:14|
|    100|Manhattan|    Garment District|     52| Brooklyn|         Cobble Hill|              6|    7.27|         1|  100|   52|           1|50.5|  0.5|    0.5|12.95| 0.0|     64.75|2017-04-01|00:00:01|2017-04-01|01:19:57|
|    230|Manhattan|Times Sq/Theatre ...|    142|Manhattan| Lincoln Square East|              6|    1.06|         1|  230|  142|           1| 6.5|  0.5|    0.5| 1.56| 0.0|      9.36|2017-04-01|00:00:01|2017-04-01|00:06:09|
|    181| Brooklyn|          Park Slope|     61| Brooklyn| Crown Heights North|              2|     1.8|         1|  181|   61|           2| 9.0|  0.5|    0.5|  0.0| 0.0|      10.3|2017-04-01|00:00:02|2017-04-01|00:09:08|
|    170|Manhattan|         Murray Hill|     79|Manhattan|        East Village|              1|    1.71|         1|  170|   79|           1| 9.5|  0.5|    0.5| 2.16| 0.0|     12.96|2017-04-01|00:00:02|2017-04-01|00:12:11|
|    144|Manhattan| Little Italy/NoLiTa|     25| Brooklyn|         Boerum Hill|              1|    3.08|         1|  144|   25|           1|18.5|  0.5|    0.5| 3.96| 0.0|     23.76|2017-04-01|00:00:02|2017-04-01|00:26:29|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+-----+----+----------+----------+--------+----------+--------+
only showing top 20 rows

In [30]:
byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(4))

Grapht = df_joined.select('PUZone', 'DOZone', 'month')
Grapht = Grapht.groupBy('PUZone', 'DOZone').count()
Grapht = Grapht.withColumn("month",lit(4))
Grapht = Grapht.selectExpr("PUZone as src", "DOZone as dst", "count as count", "month as month")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
Grapht = Grapht.join(byTotalFare,[Grapht.src==byTotalFare.PUZone, Grapht.dst==byTotalFare.DOZone],'left_outer')
Grapht = Grapht.drop('PUZone', 'DOZone')
Grapht = Grapht.withColumnRenamed("avg(total_fare)", "avg_fare")
Graph = Graph.union(Grapht)
Graph.show()

+--------------------+--------------------+-----+-----+------------------+
|                 src|                 dst|count|month|          avg_fare|
+--------------------+--------------------+-----+-----+------------------+
|Allerton/Pelham G...|        East Tremont|    1|    1|              11.8|
|        Battery Park|         Fort Greene|   10|    1|20.003000000000004|
|        Battery Park|     Windsor Terrace|    4|    1|            30.445|
|   Battery Park City|        East Village| 1716|    1| 18.92319930069934|
|        Bloomingdale|           Chinatown|    7|    1| 32.61714285714286|
|        Bloomingdale|     Mariners Harbor|    1|    1|             85.42|
|           Bronxdale|         Eastchester|    1|    1|               9.3|
|  Brooklyn Navy Yard|          Kensington|    1|    1|              18.3|
|      Bushwick North|    Hamilton Heights|    4|    1|           53.8475|
|      Bushwick South|Long Island City/...|    5|    1|            22.432|
|     Carroll Gardens|Upper West Side S...|    9|    1| 38.09444444444445|
|      Central Harlem|         Brownsville|    2|    1|            68.005|
|Central Harlem North|   Crotona Park East|   18|    1|22.465000000000003|
|Central Harlem North|        Far Rockaway|    1|    1|             72.84|
|Central Harlem North|           Flatlands|    1|    1|             88.34|
|Central Harlem North|              Inwood|   68|    1|18.413676470588236|
|        Central Park|Briarwood/Jamaica...|    2|    1|             50.82|
|        Clinton Hill|  Brooklyn Navy Yard|   17|    1| 7.828235294117646|
|        Clinton Hill|      Central Harlem|    2|    1|             50.84|
|        Clinton West|             Madison|    6|    1|52.306666666666665|
+--------------------+--------------------+-----+-----+------------------+
only showing top 20 rows

In [31]:
########## max distance
max_distt = df_joined.orderBy('distance', ascending=False)
max_distt = max_distt.limit(10)
max_distt = max_distt.withColumnRenamed("distance", "max_distance")
max_distt = max_distt.select('PUZone', 'DOZone', 'max_distance', 'month')
max_dist = max_dist.union(max_distt)
max_dist.show()

+--------------------+--------------------+------------+-----+
|              PUZone|              DOZone|max_distance|month|
+--------------------+--------------------+------------+-----+
|Springfield Garde...|                  NA|      264.71|    1|
|          Ocean Hill|Two Bridges/Sewar...|       180.7|    1|
|         JFK Airport| UN/Turtle Bay South|       173.2|    1|
|     Mariners Harbor|                  NA|      156.17|    1|
|        Clinton East|                  NA|       151.7|    1|
|Flushing Meadows-...|                  NA|      143.45|    1|
|                  NA|                  NA|       143.4|    1|
|         JFK Airport|                  NA|       143.4|    1|
|       Richmond Hill|                  NA|       141.8|    1|
|         JFK Airport|                  NA|      139.17|    1|
|Prospect-Lefferts...|        Clinton Hill|       324.0|    2|
|           Bay Ridge|                  NA|      298.47|    2|
|             Bedford|             Bedford|       282.0|    2|
|            Gramercy|                  NA|       221.7|    2|
|    Garment District|                  NA|      196.73|    2|
|      Sheepshead Bay|             Bedford|       190.2|    2|
|Mott Haven/Port M...|                  NA|       182.3|    2|
| Little Italy/NoLiTa|                  NA|       142.3|    2|
| Little Italy/NoLiTa| Little Italy/NoLiTa|       138.4|    2|
|         JFK Airport|  World Trade Center|      132.58|    2|
+--------------------+--------------------+------------+-----+
only showing top 20 rows

In [32]:
######max fare
max_faret = df_joined.orderBy('total_fare', ascending=False)
max_faret = max_faret.limit(10)
max_faret = max_faret.withColumnRenamed("total_fare", "max_fare")
max_faret = max_faret.select('PUZone', 'DOZone', 'max_fare', 'month')
max_fare = max_fare.union(max_faret)
max_fare.show()

+--------------------+--------------------+---------+-----+
|              PUZone|              DOZone| max_fare|month|
+--------------------+--------------------+---------+-----+
|Upper West Side S...|                  NV| 625901.6|    1|
|Two Bridges/Sewar...|Washington Height...| 538580.0|    1|
|Upper East Side S...|     Lenox Hill West|   9001.3|    1|
|                  NV|                  NV|  8043.84|    1|
|       Midtown North|Times Sq/Theatre ...|   3009.8|    1|
|                  NV|                  NV|   3009.3|    1|
|           Sunnyside|           Sunnyside|  2000.28|    1|
|           Sunnyside|           Sunnyside|  2000.28|    1|
|           Sunnyside|           Sunnyside|  2000.28|    1|
|           Sunnyside|           Sunnyside|  1000.29|    1|
|            Union Sq|      Midtown Center|361772.02|    2|
|Upper East Side N...|Upper West Side S...|335545.21|    2|
|Upper West Side N...|      Midtown Center|171856.99|    2|
|Upper East Side N...|            Gramercy|   8018.6|    2|
|                  NV|                  NV|   8009.3|    2|
|                  NV|                  NV|   8005.8|    2|
|Upper West Side N...| Lincoln Square West|  7003.51|    2|
|            Gramercy|            Kips Bay|   6722.4|    2|
|                  NV|                  NV|  5447.82|    2|
|             Bedford|             Bedford|  1206.24|    2|
+--------------------+--------------------+---------+-----+
only showing top 20 rows

In [33]:
#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))
df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+-----+----+----------+----------+--------+----------+--------+-----+---------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax|  tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|   PUHour|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+-----+----+----------+----------+--------+----------+--------+-----+---------+
|    158|Manhattan|Meatpacking/West ...|    113|Manhattan|Greenwich Village...|              1|     1.8|         1|  158|  113|           2|10.5|  0.5|    0.5|  0.0| 0.0|      11.8|2017-04-01|00:00:00|2017-04-01|00:15:07|    4| midnight|
|     87|Manhattan|Financial Distric...|    158|Manhattan|Meatpacking/West ...|              3|     3.7|         1|   87|  158|           2|14.5|  0.5|    0.5|  0.0| 0.0|      15.8|2017-04-01|00:00:00|2017-04-01|00:16:23|    4| midnight|
|    264|  Unknown|                  NV|    193|   Queens|Queensbridge/Rave...|              1|     0.0|         1|  264|  193|           1| 0.0|  0.0|    0.0|  0.0| 0.0|       0.0|2017-04-01|00:00:00|2017-04-01|10:20:01|    4| midnight|
|    230|Manhattan|Times Sq/Theatre ...|      4|Manhattan|       Alphabet City|              2|     3.3|         1|  230|    4|           1|23.5|  0.5|    0.5| 4.95| 0.0|     29.75|2017-04-01|00:00:01|2017-04-01|00:37:05|    4| midnight|
|    142|Manhattan| Lincoln Square East|    143|Manhattan| Lincoln Square West|              1|     0.7|         1|  142|  143|           2| 4.5|  0.5|    0.5|  0.0| 0.0|       5.8|2017-04-01|00:00:01|2017-04-01|00:02:56|    4| midnight|
|    170|Manhattan|         Murray Hill|    263|Manhattan|      Yorkville West|              1|     2.2|         1|  170|  263|           1| 8.5|  0.5|    0.5| 2.45| 0.0|     12.25|2017-04-01|00:00:01|2017-04-01|00:07:28|    4| midnight|
|    100|Manhattan|    Garment District|     48|Manhattan|        Clinton East|              1|     0.7|         1|  100|   48|           1| 7.0|  0.5|    0.5| 1.65| 0.0|      9.95|2017-04-01|00:00:01|2017-04-01|00:08:30|    4| midnight|
|    166|Manhattan| Morningside Heights|    166|Manhattan| Morningside Heights|              1|     0.4|         1|  166|  166|           2| 4.0|  0.5|    0.5|  0.0| 0.0|       5.3|2017-04-01|00:00:01|2017-04-01|00:02:40|    4| midnight|
|    113|Manhattan|Greenwich Village...|     68|Manhattan|        East Chelsea|              1|    1.23|         1|  113|   68|           1| 8.0|  0.5|    0.5|  1.0| 0.0|      10.3|2017-04-01|00:00:01|2017-04-01|00:10:20|    4| midnight|
|     68|Manhattan|        East Chelsea|     68|Manhattan|        East Chelsea|              1|    0.55|         1|   68|   68|           1| 4.0|  0.0|    0.5|  0.0| 0.0|       4.8|2017-04-05|07:52:23|2017-04-05|07:55:02|    4|  morning|
|     88|Manhattan|Financial Distric...|    246|Manhattan|West Chelsea/Huds...|              6|    3.72|         1|   88|  246|           1|18.5|  1.0|    0.5| 3.04| 0.0|     25.29|2017-04-26|15:45:22|2017-04-26|16:10:00|    4|afternoon|
|    246|Manhattan|West Chelsea/Huds...|    114|Manhattan|Greenwich Village...|              6|    2.29|         1|  246|  114|           1|12.5|  1.0|    0.5|  1.0| 0.0|      15.3|2017-04-26|16:12:29|2017-04-26|16:28:35|    4|afternoon|
|    113|Manhattan|Greenwich Village...|    170|Manhattan|         Murray Hill|              6|    1.81|         1|  113|  170|           2|10.0|  1.0|    0.5|  0.0| 0.0|      11.8|2017-04-26|16:32:00|2017-04-26|23:46:19|    4|afternoon|
|    162|Manhattan|        Midtown East|    261|Manhattan|  World Trade Center|              1|    5.67|         1|  162|  261|           2|33.0|  0.5|    0.5|  0.0| 0.0|      34.3|2017-04-01|00:00:01|2017-04-01|00:46:22|    4| midnight|
|    132|   Queens|         JFK Airport|    234|Manhattan|            Union Sq|              1|   18.21|         2|  132|  234|           1|52.0|  0.0|    0.5|14.64|5.76|      73.2|2017-04-01|00:00:01|2017-04-01|00:31:14|    4| midnight|
|    100|Manhattan|    Garment District|     52| Brooklyn|         Cobble Hill|              6|    7.27|         1|  100|   52|           1|50.5|  0.5|    0.5|12.95| 0.0|     64.75|2017-04-01|00:00:01|2017-04-01|01:19:57|    4| midnight|
|    230|Manhattan|Times Sq/Theatre ...|    142|Manhattan| Lincoln Square East|              6|    1.06|         1|  230|  142|           1| 6.5|  0.5|    0.5| 1.56| 0.0|      9.36|2017-04-01|00:00:01|2017-04-01|00:06:09|    4| midnight|
|    181| Brooklyn|          Park Slope|     61| Brooklyn| Crown Heights North|              2|     1.8|         1|  181|   61|           2| 9.0|  0.5|    0.5|  0.0| 0.0|      10.3|2017-04-01|00:00:02|2017-04-01|00:09:08|    4| midnight|
|    170|Manhattan|         Murray Hill|     79|Manhattan|        East Village|              1|    1.71|         1|  170|   79|           1| 9.5|  0.5|    0.5| 2.16| 0.0|     12.96|2017-04-01|00:00:02|2017-04-01|00:12:11|    4| midnight|
|    144|Manhattan| Little Italy/NoLiTa|     25| Brooklyn|         Boerum Hill|              1|    3.08|         1|  144|   25|           1|18.5|  0.5|    0.5| 3.96| 0.0|     23.76|2017-04-01|00:00:02|2017-04-01|00:26:29|    4| midnight|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+-----+----+----------+----------+--------+----------+--------+-----+---------+
only showing top 20 rows

In [34]:
###### by time
PUByTimet = df_joined.groupBy('PUHour', 'PUZone', 'month').count()
PUByTimet = PUByTimet.orderBy('count', ascending=False)
PUByTime = PUByTime.union(PUByTimet)
PUByTime.show()

+---------+--------------------+-----+------+
|   PUHour|              PUZone|month| count|
+---------+--------------------+-----+------+
|afternoon|Upper East Side S...|    1|157826|
|afternoon|Upper East Side N...|    1|151358|
|  evening|Times Sq/Theatre ...|    1|136867|
|  evening|      Midtown Center|    1|136487|
|afternoon|      Midtown Center|    1|134284|
|  evening|            Union Sq|    1|129806|
|  evening|        Midtown East|    1|123194|
|  morning|Upper East Side N...|    1|115309|
|afternoon|        Midtown East|    1|110824|
|  evening|        East Village|    1|110726|
|afternoon|            Union Sq|    1|109299|
|  evening|Penn Station/Madi...|    1|108464|
|  evening|Upper East Side S...|    1|105797|
|  evening| Lincoln Square East|    1|104454|
|  morning|Penn Station/Madi...|    1|104143|
|  morning|Upper East Side S...|    1|103239|
|afternoon|Penn Station/Madi...|    1|102715|
|  evening|        Clinton East|    1|101075|
|afternoon|Upper West Side S...|    1| 98988|
|afternoon|         Murray Hill|    1| 98182|
+---------+--------------------+-----+------+
only showing top 20 rows

In [35]:
####### best PU locs
best_locst = df_joined.groupBy('PUZone', 'month').count()
best_locs = best_locs.union(best_locst)
best_locs.show()

+--------------------+-----+------+
|              PUZone|month| count|
+--------------------+-----+------+
|Upper East Side S...|    1|380663|
|Upper East Side N...|    1|363649|
|      Midtown Center|    1|360995|
|Penn Station/Madi...|    1|339970|
|Times Sq/Theatre ...|    1|334079|
|            Union Sq|    1|333035|
|        Midtown East|    1|330946|
|         Murray Hill|    1|306244|
|        East Village|    1|303580|
|        Clinton East|    1|297414|
| Lincoln Square East|    1|277230|
|Upper West Side S...|    1|252264|
|       Midtown North|    1|250939|
|            Gramercy|    1|238695|
|       Midtown South|    1|227768|
|         JFK Airport|    1|227167|
|     Lenox Hill West|    1|226739|
|        East Chelsea|    1|224558|
|   LaGuardia Airport|    1|212193|
|        West Village|    1|211629|
+--------------------+-----+------+
only showing top 20 rows

In [36]:
import pandas as pd
Graph.toPandas().to_csv('Graph.csv', index=False)

In [37]:
max_dist.toPandas().to_csv('Max_distance.csv', index=False)

In [38]:
max_fare.toPandas().to_csv('Max_fare.csv', index=False)

In [39]:
PUByTime.toPandas().to_csv('PickUpByTime.csv', index=False)

In [40]:
best_locs.toPandas().to_csv('Best_PickUp_Locs.csv', index=False)

In [41]:
spark.stop()

In [42]:
#######################Cluster

import pyspark
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)
jan = spark.read.csv('../bigdata/yellow_tripdata_2017-01.csv', header=True, inferSchema = True)

loc = spark.read.csv('taxi _zone_lookup.csv', header=True, inferSchema = True)

In [43]:
import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(1))

df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+
|    263|Manhattan|      Yorkville West|    161|Manhattan|      Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|    1|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|            Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|    1|
|    164|Manhattan|       Midtown South|    161|Manhattan|      Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|    1|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|   East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|    1|
|    249|Manhattan|        West Village|    234|Manhattan|            Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|    1|
|     48|Manhattan|        Clinton East|     48|Manhattan|        Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|    1|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|      Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|    1|
|    162|Manhattan|        Midtown East|    161|Manhattan|      Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|    1|
|     48|Manhattan|        Clinton East|     50|Manhattan|        Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|    1|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|   East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|    1|
|    138|   Queens|   LaGuardia Airport|    262|Manhattan|      Yorkville East|              1|    8.47|         1|  138|  262|           1|24.0|  0.5|    0.5|7.71|5.54|     38.55|2017-01-01|00:00:05|2017-01-01|00:15:36|    1|
|    142|Manhattan| Lincoln Square East|    236|Manhattan|Upper East Side N...|              2|     2.4|         1|  142|  236|           2|10.5|  0.5|    0.5| 0.0| 0.0|      11.8|2017-01-01|00:00:06|2017-01-01|00:11:56|    1|
|    161|Manhattan|      Midtown Center|    265|  Unknown|                  NA|              2|    12.6|         5|  161|  265|           1|60.0|  0.0|    0.0|10.0| 0.0|      70.3|2017-01-01|00:00:06|2017-01-01|00:23:37|    1|
|    234|Manhattan|            Union Sq|    186|Manhattan|Penn Station/Madi...|              1|     0.9|         1|  234|  186|           1| 7.0|  0.5|    0.5|2.05| 0.0|     10.35|2017-01-01|00:00:06|2017-01-01|00:08:53|    1|
|    141|Manhattan|     Lenox Hill West|    107|Manhattan|            Gramercy|              4|    2.43|         1|  141|  107|           1| 9.5|  0.5|    0.5| 2.7| 0.0|      13.5|2017-01-01|00:00:06|2017-01-01|00:09:30|    1|
|     79|Manhattan|        East Village|    163|Manhattan|       Midtown North|              2|     2.6|         1|   79|  163|           1|12.5|  0.5|    0.5|2.76| 0.0|     16.56|2017-01-01|00:00:06|2017-01-01|00:16:05|    1|
|    148|Manhattan|     Lower East Side|     36| Brooklyn|      Bushwick North|              5|    4.25|         1|  148|   36|           2|16.5|  0.5|    0.5| 0.0| 0.0|      17.8|2017-01-01|00:00:06|2017-01-01|00:18:12|    1|
|     48|Manhattan|        Clinton East|     68|Manhattan|        East Chelsea|              1|    0.65|         1|   48|   68|           1| 6.5|  0.5|    0.5| 1.7| 0.0|       9.5|2017-01-01|00:00:07|2017-01-01|00:07:42|    1|
|    230|Manhattan|Times Sq/Theatre ...|    148|Manhattan|     Lower East Side|              1|    3.42|         1|  230|  148|           1|22.5|  0.5|    0.5| 0.0| 0.0|      23.8|2017-01-01|00:00:09|2017-01-01|00:34:21|    1|
|    186|Manhattan|Penn Station/Madi...|    232|Manhattan|Two Bridges/Sewar...|              1|     6.6|         1|  186|  232|           2|23.0|  0.5|    0.5| 0.0| 0.0|      24.3|2017-01-01|00:00:10|2017-01-01|00:24:52|    1|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+
only showing top 20 rows

In [44]:
#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))
df_joined = df_joined.withColumn('PUClock', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))

df_joined.show(10)

+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|           DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|  PUHour|PUClock|
+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|   Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|    1| morning|     11|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|         Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|    1| morning|     11|
|    164|Manhattan|       Midtown South|    161|Manhattan|   Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|    1| morning|     11|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|    1| morning|     11|
|    249|Manhattan|        West Village|    234|Manhattan|         Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|    1|midnight|     00|
|     48|Manhattan|        Clinton East|     48|Manhattan|     Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|    1|midnight|     00|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|   Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|    1|midnight|     00|
|    162|Manhattan|        Midtown East|    161|Manhattan|   Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|    1|midnight|     00|
|     48|Manhattan|        Clinton East|     50|Manhattan|     Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|    1|midnight|     00|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|    1|midnight|     00|
+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
only showing top 10 rows

In [45]:
from pyspark.sql.types import IntegerType
df_joined = df_joined.withColumn("PUClock", df_joined["PUClock"].cast(IntegerType()))
df_joined.show(10)

+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|           DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|  PUHour|PUClock|
+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|   Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|    1| morning|     11|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|         Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|    1| morning|     11|
|    164|Manhattan|       Midtown South|    161|Manhattan|   Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|    1| morning|     11|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|    1| morning|     11|
|    249|Manhattan|        West Village|    234|Manhattan|         Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|    1|midnight|      0|
|     48|Manhattan|        Clinton East|     48|Manhattan|     Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|    1|midnight|      0|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|   Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|    1|midnight|      0|
|    162|Manhattan|        Midtown East|    161|Manhattan|   Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|    1|midnight|      0|
|     48|Manhattan|        Clinton East|     50|Manhattan|     Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|    1|midnight|      0|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|    1|midnight|      0|
+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
only showing top 10 rows

In [46]:
from pyspark.ml.feature import VectorAssembler
#vecAssembler = VectorAssembler(inputCols=["PULocID", "PUBorough", "PUZone", "DOLocID","DOBorough", "DOZone", "passenger_count" ,"distance" , "RateCodeID", "srcID", "dstID", "payment_type", "fare" ,"extra", "mta_tax",  "tip","toll","total_fare", "PUDate", "PUTime","DODate","DOTime","month" ,"PUHour"], outputCol="features")
vecAssembler = VectorAssembler(inputCols=["passenger_count" ,"distance" , "RateCodeID", "srcID", "dstID", "payment_type", "fare" ,"extra", "mta_tax","tip","toll","total_fare","month", "PUClock"], outputCol="features")
new_df = vecAssembler.transform(df_joined)
new_df.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+--------------------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|  PUHour|PUClock|            features|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+--------------------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|      Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|    1| morning|     11|[1.0,3.3,1.0,263....|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|            Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|    1| morning|     11|[1.0,0.9,1.0,186....|
|    164|Manhattan|       Midtown South|    161|Manhattan|      Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|    1| morning|     11|[1.0,1.1,1.0,164....|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|   East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|    1| morning|     11|[1.0,1.1,1.0,236....|
|    249|Manhattan|        West Village|    234|Manhattan|            Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|    1|midnight|      0|[1.0,0.02,2.0,249...|
|     48|Manhattan|        Clinton East|     48|Manhattan|        Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|    1|midnight|      0|[1.0,0.5,1.0,48.0...|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|      Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|    1|midnight|      0|[4.0,7.75,1.0,186...|
|    162|Manhattan|        Midtown East|    161|Manhattan|      Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|    1|midnight|      0|[1.0,0.8,1.0,162....|
|     48|Manhattan|        Clinton East|     50|Manhattan|        Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|    1|midnight|      0|[2.0,0.9,1.0,48.0...|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|   East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|    1|midnight|      0|[5.0,1.76,1.0,140...|
|    138|   Queens|   LaGuardia Airport|    262|Manhattan|      Yorkville East|              1|    8.47|         1|  138|  262|           1|24.0|  0.5|    0.5|7.71|5.54|     38.55|2017-01-01|00:00:05|2017-01-01|00:15:36|    1|midnight|      0|[1.0,8.47,1.0,138...|
|    142|Manhattan| Lincoln Square East|    236|Manhattan|Upper East Side N...|              2|     2.4|         1|  142|  236|           2|10.5|  0.5|    0.5| 0.0| 0.0|      11.8|2017-01-01|00:00:06|2017-01-01|00:11:56|    1|midnight|      0|[2.0,2.4,1.0,142....|
|    161|Manhattan|      Midtown Center|    265|  Unknown|                  NA|              2|    12.6|         5|  161|  265|           1|60.0|  0.0|    0.0|10.0| 0.0|      70.3|2017-01-01|00:00:06|2017-01-01|00:23:37|    1|midnight|      0|[2.0,12.6,5.0,161...|
|    234|Manhattan|            Union Sq|    186|Manhattan|Penn Station/Madi...|              1|     0.9|         1|  234|  186|           1| 7.0|  0.5|    0.5|2.05| 0.0|     10.35|2017-01-01|00:00:06|2017-01-01|00:08:53|    1|midnight|      0|[1.0,0.9,1.0,234....|
|    141|Manhattan|     Lenox Hill West|    107|Manhattan|            Gramercy|              4|    2.43|         1|  141|  107|           1| 9.5|  0.5|    0.5| 2.7| 0.0|      13.5|2017-01-01|00:00:06|2017-01-01|00:09:30|    1|midnight|      0|[4.0,2.43,1.0,141...|
|     79|Manhattan|        East Village|    163|Manhattan|       Midtown North|              2|     2.6|         1|   79|  163|           1|12.5|  0.5|    0.5|2.76| 0.0|     16.56|2017-01-01|00:00:06|2017-01-01|00:16:05|    1|midnight|      0|[2.0,2.6,1.0,79.0...|
|    148|Manhattan|     Lower East Side|     36| Brooklyn|      Bushwick North|              5|    4.25|         1|  148|   36|           2|16.5|  0.5|    0.5| 0.0| 0.0|      17.8|2017-01-01|00:00:06|2017-01-01|00:18:12|    1|midnight|      0|[5.0,4.25,1.0,148...|
|     48|Manhattan|        Clinton East|     68|Manhattan|        East Chelsea|              1|    0.65|         1|   48|   68|           1| 6.5|  0.5|    0.5| 1.7| 0.0|       9.5|2017-01-01|00:00:07|2017-01-01|00:07:42|    1|midnight|      0|[1.0,0.65,1.0,48....|
|    230|Manhattan|Times Sq/Theatre ...|    148|Manhattan|     Lower East Side|              1|    3.42|         1|  230|  148|           1|22.5|  0.5|    0.5| 0.0| 0.0|      23.8|2017-01-01|00:00:09|2017-01-01|00:34:21|    1|midnight|      0|[1.0,3.42,1.0,230...|
|    186|Manhattan|Penn Station/Madi...|    232|Manhattan|Two Bridges/Sewar...|              1|     6.6|         1|  186|  232|           2|23.0|  0.5|    0.5| 0.0| 0.0|      24.3|2017-01-01|00:00:10|2017-01-01|00:24:52|    1|midnight|      0|[1.0,6.6,1.0,186....|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+--------------------+
only showing top 20 rows

In [47]:
from pyspark.ml.clustering import KMeans

kmeans = KMeans(k=3, seed=1)  # 2 clusters here
model = kmeans.fit(new_df.select('features'))

In [48]:
transformed = model.transform(new_df)
transformed.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+--------------------+----------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|  PUHour|PUClock|            features|prediction|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+--------------------+----------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|      Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|    1| morning|     11|[1.0,3.3,1.0,263....|         2|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|            Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|    1| morning|     11|[1.0,0.9,1.0,186....|         2|
|    164|Manhattan|       Midtown South|    161|Manhattan|      Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|    1| morning|     11|[1.0,1.1,1.0,164....|         2|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|   East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|    1| morning|     11|[1.0,1.1,1.0,236....|         0|
|    249|Manhattan|        West Village|    234|Manhattan|            Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|    1|midnight|      0|[1.0,0.02,2.0,249...|         2|
|     48|Manhattan|        Clinton East|     48|Manhattan|        Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|    1|midnight|      0|[1.0,0.5,1.0,48.0...|         0|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|      Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|    1|midnight|      0|[4.0,7.75,1.0,186...|         0|
|    162|Manhattan|        Midtown East|    161|Manhattan|      Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|    1|midnight|      0|[1.0,0.8,1.0,162....|         2|
|     48|Manhattan|        Clinton East|     50|Manhattan|        Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|    1|midnight|      0|[2.0,0.9,1.0,48.0...|         0|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|   East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|    1|midnight|      0|[5.0,1.76,1.0,140...|         0|
|    138|   Queens|   LaGuardia Airport|    262|Manhattan|      Yorkville East|              1|    8.47|         1|  138|  262|           1|24.0|  0.5|    0.5|7.71|5.54|     38.55|2017-01-01|00:00:05|2017-01-01|00:15:36|    1|midnight|      0|[1.0,8.47,1.0,138...|         2|
|    142|Manhattan| Lincoln Square East|    236|Manhattan|Upper East Side N...|              2|     2.4|         1|  142|  236|           2|10.5|  0.5|    0.5| 0.0| 0.0|      11.8|2017-01-01|00:00:06|2017-01-01|00:11:56|    1|midnight|      0|[2.0,2.4,1.0,142....|         2|
|    161|Manhattan|      Midtown Center|    265|  Unknown|                  NA|              2|    12.6|         5|  161|  265|           1|60.0|  0.0|    0.0|10.0| 0.0|      70.3|2017-01-01|00:00:06|2017-01-01|00:23:37|    1|midnight|      0|[2.0,12.6,5.0,161...|         2|
|    234|Manhattan|            Union Sq|    186|Manhattan|Penn Station/Madi...|              1|     0.9|         1|  234|  186|           1| 7.0|  0.5|    0.5|2.05| 0.0|     10.35|2017-01-01|00:00:06|2017-01-01|00:08:53|    1|midnight|      0|[1.0,0.9,1.0,234....|         2|
|    141|Manhattan|     Lenox Hill West|    107|Manhattan|            Gramercy|              4|    2.43|         1|  141|  107|           1| 9.5|  0.5|    0.5| 2.7| 0.0|      13.5|2017-01-01|00:00:06|2017-01-01|00:09:30|    1|midnight|      0|[4.0,2.43,1.0,141...|         0|
|     79|Manhattan|        East Village|    163|Manhattan|       Midtown North|              2|     2.6|         1|   79|  163|           1|12.5|  0.5|    0.5|2.76| 0.0|     16.56|2017-01-01|00:00:06|2017-01-01|00:16:05|    1|midnight|      0|[2.0,2.6,1.0,79.0...|         0|
|    148|Manhattan|     Lower East Side|     36| Brooklyn|      Bushwick North|              5|    4.25|         1|  148|   36|           2|16.5|  0.5|    0.5| 0.0| 0.0|      17.8|2017-01-01|00:00:06|2017-01-01|00:18:12|    1|midnight|      0|[5.0,4.25,1.0,148...|         0|
|     48|Manhattan|        Clinton East|     68|Manhattan|        East Chelsea|              1|    0.65|         1|   48|   68|           1| 6.5|  0.5|    0.5| 1.7| 0.0|       9.5|2017-01-01|00:00:07|2017-01-01|00:07:42|    1|midnight|      0|[1.0,0.65,1.0,48....|         0|
|    230|Manhattan|Times Sq/Theatre ...|    148|Manhattan|     Lower East Side|              1|    3.42|         1|  230|  148|           1|22.5|  0.5|    0.5| 0.0| 0.0|      23.8|2017-01-01|00:00:09|2017-01-01|00:34:21|    1|midnight|      0|[1.0,3.42,1.0,230...|         2|
|    186|Manhattan|Penn Station/Madi...|    232|Manhattan|Two Bridges/Sewar...|              1|     6.6|         1|  186|  232|           2|23.0|  0.5|    0.5| 0.0| 0.0|      24.3|2017-01-01|00:00:10|2017-01-01|00:24:52|    1|midnight|      0|[1.0,6.6,1.0,186....|         2|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+--------------------+----------+
only showing top 20 rows

In [49]:
# load function
from pyspark.sql import functions as F
import pandas as pd

# aggregate data
stat = transformed.groupby('prediction').agg(
    F.avg(F.col('total_fare')).alias('avg_fare'),
    F.avg(F.col('distance')).alias('avg_distance'),
    F.avg(F.col('passenger_count')).alias('avg_passenger'),
    F.avg(F.col('tip')).alias('avg_tip'),
    F.variance(F.col('total_fare')).alias('var_fare'),
    F.variance(F.col('distance')).alias('var_distance'),
    F.variance(F.col('passenger_count')).alias('var_passenger'),
    F.variance(F.col('tip')).alias('var_tip')
)
stat.toPandas().to_csv('Cluster_stat_jan.csv', index=False)
stat.show()

+----------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+-----------------+
|prediction|          avg_fare|      avg_distance|     avg_passenger|          avg_tip|           var_fare|      var_distance|     var_passenger|          var_tip|
+----------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+-----------------+
|         1|          582240.8|               0.0|               2.0|              0.0|3.812530913279998E9|               0.0|               2.0|              0.0|
|         2|14.176325674156118|2.4422242609346267|1.6243608399910456|1.611476741317611| 153.42641663155626|10.230785947969945|1.6082686820964247|6.093270927128124|
|         0|16.914793870864997| 3.269397492359212|1.6346444529247215|1.922589285284459|  243.2696916855305|16.115425474835977|1.6297981608965104|7.192955951568473|
+----------+------------------+------------------+------------------+-----------------+-------------------+------------------+------------------+-----------------+

In [50]:
spark.stop()