In [9]:
#########START
spark.stop()
import pyspark
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)
jan = spark.read.csv('../bigdata/yellow_tripdata_2017-01.csv', header=True, inferSchema = True)

loc = spark.read.csv('taxi _zone_lookup.csv', header=True, inferSchema = True)

In [10]:
import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|      Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|            Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|
|    164|Manhattan|       Midtown South|    161|Manhattan|      Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|   East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|
|    249|Manhattan|        West Village|    234|Manhattan|            Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|
|     48|Manhattan|        Clinton East|     48|Manhattan|        Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|      Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|
|    162|Manhattan|        Midtown East|    161|Manhattan|      Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|
|     48|Manhattan|        Clinton East|     50|Manhattan|        Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|   East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|
|    138|   Queens|   LaGuardia Airport|    262|Manhattan|      Yorkville East|              1|    8.47|         1|  138|  262|           1|24.0|  0.5|    0.5|7.71|5.54|     38.55|2017-01-01|00:00:05|2017-01-01|00:15:36|
|    142|Manhattan| Lincoln Square East|    236|Manhattan|Upper East Side N...|              2|     2.4|         1|  142|  236|           2|10.5|  0.5|    0.5| 0.0| 0.0|      11.8|2017-01-01|00:00:06|2017-01-01|00:11:56|
|    161|Manhattan|      Midtown Center|    265|  Unknown|                  NA|              2|    12.6|         5|  161|  265|           1|60.0|  0.0|    0.0|10.0| 0.0|      70.3|2017-01-01|00:00:06|2017-01-01|00:23:37|
|    234|Manhattan|            Union Sq|    186|Manhattan|Penn Station/Madi...|              1|     0.9|         1|  234|  186|           1| 7.0|  0.5|    0.5|2.05| 0.0|     10.35|2017-01-01|00:00:06|2017-01-01|00:08:53|
|    141|Manhattan|     Lenox Hill West|    107|Manhattan|            Gramercy|              4|    2.43|         1|  141|  107|           1| 9.5|  0.5|    0.5| 2.7| 0.0|      13.5|2017-01-01|00:00:06|2017-01-01|00:09:30|
|     79|Manhattan|        East Village|    163|Manhattan|       Midtown North|              2|     2.6|         1|   79|  163|           1|12.5|  0.5|    0.5|2.76| 0.0|     16.56|2017-01-01|00:00:06|2017-01-01|00:16:05|
|    148|Manhattan|     Lower East Side|     36| Brooklyn|      Bushwick North|              5|    4.25|         1|  148|   36|           2|16.5|  0.5|    0.5| 0.0| 0.0|      17.8|2017-01-01|00:00:06|2017-01-01|00:18:12|
|     48|Manhattan|        Clinton East|     68|Manhattan|        East Chelsea|              1|    0.65|         1|   48|   68|           1| 6.5|  0.5|    0.5| 1.7| 0.0|       9.5|2017-01-01|00:00:07|2017-01-01|00:07:42|
|    230|Manhattan|Times Sq/Theatre ...|    148|Manhattan|     Lower East Side|              1|    3.42|         1|  230|  148|           1|22.5|  0.5|    0.5| 0.0| 0.0|      23.8|2017-01-01|00:00:09|2017-01-01|00:34:21|
|    186|Manhattan|Penn Station/Madi...|    232|Manhattan|Two Bridges/Sewar...|              1|     6.6|         1|  186|  232|           2|23.0|  0.5|    0.5| 0.0| 0.0|      24.3|2017-01-01|00:00:10|2017-01-01|00:24:52|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+
only showing top 20 rows

In [11]:
byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(1))

Graph = df_joined.select('PUZone', 'DOZone', 'month')
Graph = Graph.groupBy('PUZone', 'DOZone').count()
Graph = Graph.withColumn("month",lit(1))
Graph = Graph.selectExpr("PUZone as src", "DOZone as dst", "count as count", "month as month")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
Graph = Graph.join(byTotalFare,[Graph.src==byTotalFare.PUZone, Graph.dst==byTotalFare.DOZone],'left_outer')
Graph = Graph.drop('PUZone', 'DOZone')
Graph = Graph.withColumnRenamed("avg(total_fare)", "avg_fare")
Graph.show()

+--------------------+--------------------+-----+-----+------------------+
|                 src|                 dst|count|month|          avg_fare|
+--------------------+--------------------+-----+-----+------------------+
|Allerton/Pelham G...|        East Tremont|    1|    1|              11.8|
|        Battery Park|         Fort Greene|   10|    1|20.003000000000004|
|        Battery Park|     Windsor Terrace|    4|    1|            30.445|
|   Battery Park City|        East Village| 1716|    1| 18.92319930069934|
|        Bloomingdale|           Chinatown|    7|    1| 32.61714285714286|
|        Bloomingdale|     Mariners Harbor|    1|    1|             85.42|
|           Bronxdale|         Eastchester|    1|    1|               9.3|
|  Brooklyn Navy Yard|          Kensington|    1|    1|              18.3|
|      Bushwick North|    Hamilton Heights|    4|    1|           53.8475|
|      Bushwick South|Long Island City/...|    5|    1|            22.432|
|     Carroll Gardens|Upper West Side S...|    9|    1| 38.09444444444445|
|      Central Harlem|         Brownsville|    2|    1|            68.005|
|Central Harlem North|   Crotona Park East|   18|    1|22.465000000000003|
|Central Harlem North|        Far Rockaway|    1|    1|             72.84|
|Central Harlem North|           Flatlands|    1|    1|             88.34|
|Central Harlem North|              Inwood|   68|    1|18.413676470588236|
|        Central Park|Briarwood/Jamaica...|    2|    1|             50.82|
|        Clinton Hill|  Brooklyn Navy Yard|   17|    1| 7.828235294117646|
|        Clinton Hill|      Central Harlem|    2|    1|             50.84|
|        Clinton West|             Madison|    6|    1|52.306666666666665|
+--------------------+--------------------+-----+-----+------------------+
only showing top 20 rows

In [5]:

########## max distance
max_dist = df_joined.orderBy('distance', ascending=False)
max_dist = max_dist.limit(10)
max_dist = max_dist.withColumnRenamed("distance", "max_distance")
max_dist = max_dist.select('PUZone', 'DOZone', 'max_distance', 'month')
max_dist.show()

+--------------------+--------------------+------------+-----+
|              PUZone|              DOZone|max_distance|month|
+--------------------+--------------------+------------+-----+
|Springfield Garde...|                  NA|      264.71|    1|
|          Ocean Hill|Two Bridges/Sewar...|       180.7|    1|
|         JFK Airport| UN/Turtle Bay South|       173.2|    1|
|     Mariners Harbor|                  NA|      156.17|    1|
|        Clinton East|                  NA|       151.7|    1|
|Flushing Meadows-...|                  NA|      143.45|    1|
|                  NA|                  NA|       143.4|    1|
|         JFK Airport|                  NA|       143.4|    1|
|       Richmond Hill|                  NA|       141.8|    1|
|         JFK Airport|                  NA|      139.17|    1|
+--------------------+--------------------+------------+-----+

In [6]:

######max fare
max_fare = df_joined.orderBy('total_fare', ascending=False)
max_fare = max_fare.limit(10)
max_fare = max_fare.withColumnRenamed("total_fare", "max_fare")
max_fare = max_fare.select('PUZone', 'DOZone', 'max_fare', 'month')
max_fare.show()

+--------------------+--------------------+--------+-----+
|              PUZone|              DOZone|max_fare|month|
+--------------------+--------------------+--------+-----+
|Upper West Side S...|                  NV|625901.6|    1|
|Two Bridges/Sewar...|Washington Height...|538580.0|    1|
|Upper East Side S...|     Lenox Hill West|  9001.3|    1|
|                  NV|                  NV| 8043.84|    1|
|       Midtown North|Times Sq/Theatre ...|  3009.8|    1|
|                  NV|                  NV|  3009.3|    1|
|           Sunnyside|           Sunnyside| 2000.28|    1|
|           Sunnyside|           Sunnyside| 2000.28|    1|
|           Sunnyside|           Sunnyside| 2000.28|    1|
|           Sunnyside|           Sunnyside| 1000.29|    1|
+--------------------+--------------------+--------+-----+

In [12]:
#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))
df_joined = df_joined.withColumn('PUClock', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))

df_joined.show(10)

+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|           DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|  PUHour|PUClock|
+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|   Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|    1| morning|     11|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|         Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|    1| morning|     11|
|    164|Manhattan|       Midtown South|    161|Manhattan|   Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|    1| morning|     11|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|    1| morning|     11|
|    249|Manhattan|        West Village|    234|Manhattan|         Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|    1|midnight|     00|
|     48|Manhattan|        Clinton East|     48|Manhattan|     Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|    1|midnight|     00|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|   Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|    1|midnight|     00|
|    162|Manhattan|        Midtown East|    161|Manhattan|   Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|    1|midnight|     00|
|     48|Manhattan|        Clinton East|     50|Manhattan|     Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|    1|midnight|     00|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|    1|midnight|     00|
+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
only showing top 10 rows

In [13]:
###### by time
PUByTime = df_joined.groupBy('PUHour', 'PUZone', 'month').count()
PUByTime = PUByTime.orderBy('count', ascending=False)
PUByTime.show(10)

+---------+--------------------+-----+------+
|   PUHour|              PUZone|month| count|
+---------+--------------------+-----+------+
|afternoon|Upper East Side S...|    1|157826|
|afternoon|Upper East Side N...|    1|151358|
|  evening|Times Sq/Theatre ...|    1|136867|
|  evening|      Midtown Center|    1|136487|
|afternoon|      Midtown Center|    1|134284|
|  evening|            Union Sq|    1|129806|
|  evening|        Midtown East|    1|123194|
|  morning|Upper East Side N...|    1|115309|
|afternoon|        Midtown East|    1|110824|
|  evening|        East Village|    1|110726|
+---------+--------------------+-----+------+
only showing top 10 rows

In [9]:
####### best PU locs
best_locs = df_joined.groupBy('PUZone', 'month').count()
best_locs = best_locs.orderBy('count', ascending=False)
best_locs.show(10)

+--------------------+-----+------+
|              PUZone|month| count|
+--------------------+-----+------+
|Upper East Side S...|    1|380663|
|Upper East Side N...|    1|363649|
|      Midtown Center|    1|360995|
|Penn Station/Madi...|    1|339970|
|Times Sq/Theatre ...|    1|334079|
|            Union Sq|    1|333035|
|        Midtown East|    1|330946|
|         Murray Hill|    1|306244|
|        East Village|    1|303580|
|        Clinton East|    1|297414|
+--------------------+-----+------+
only showing top 10 rows

In [14]:
from pyspark.sql.types import IntegerType
df_joined = df_joined.withColumn("PUClock", df_joined["PUClock"].cast(IntegerType()))
df_joined.show(10)

+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|           DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|  PUHour|PUClock|
+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|   Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|    1| morning|     11|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|         Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|    1| morning|     11|
|    164|Manhattan|       Midtown South|    161|Manhattan|   Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|    1| morning|     11|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|    1| morning|     11|
|    249|Manhattan|        West Village|    234|Manhattan|         Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|    1|midnight|      0|
|     48|Manhattan|        Clinton East|     48|Manhattan|     Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|    1|midnight|      0|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|   Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|    1|midnight|      0|
|    162|Manhattan|        Midtown East|    161|Manhattan|   Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|    1|midnight|      0|
|     48|Manhattan|        Clinton East|     50|Manhattan|     Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|    1|midnight|      0|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|    1|midnight|      0|
+-------+---------+--------------------+-------+---------+-----------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+
only showing top 10 rows

In [15]:
#########################################################################################################
####Clustering

from pyspark.ml.feature import VectorAssembler
#vecAssembler = VectorAssembler(inputCols=["PULocID", "PUBorough", "PUZone", "DOLocID","DOBorough", "DOZone", "passenger_count" ,"distance" , "RateCodeID", "srcID", "dstID", "payment_type", "fare" ,"extra", "mta_tax",  "tip","toll","total_fare", "PUDate", "PUTime","DODate","DOTime","month" ,"PUHour"], outputCol="features")
vecAssembler = VectorAssembler(inputCols=["passenger_count" ,"distance" , "RateCodeID", "srcID", "dstID", "payment_type", "fare" ,"extra", "mta_tax","tip","toll","total_fare","month", "PUClock"], outputCol="features")
new_df = vecAssembler.transform(df_joined)
new_df.show()

+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+--------------------+
|PULocID|PUBorough|              PUZone|DOLocID|DOBorough|              DOZone|passenger_count|distance|RateCodeID|srcID|dstID|payment_type|fare|extra|mta_tax| tip|toll|total_fare|    PUDate|  PUTime|    DODate|  DOTime|month|  PUHour|PUClock|            features|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+--------------------+
|    263|Manhattan|      Yorkville West|    161|Manhattan|      Midtown Center|              1|     3.3|         1|  263|  161|           1|12.5|  0.0|    0.5| 2.0| 0.0|      15.3|2017-01-09|11:13:28|2017-01-09|11:25:45|    1| morning|     11|[1.0,3.3,1.0,263....|
|    186|Manhattan|Penn Station/Madi...|    234|Manhattan|            Union Sq|              1|     0.9|         1|  186|  234|           1| 5.0|  0.0|    0.5|1.45| 0.0|      7.25|2017-01-09|11:32:27|2017-01-09|11:36:01|    1| morning|     11|[1.0,0.9,1.0,186....|
|    164|Manhattan|       Midtown South|    161|Manhattan|      Midtown Center|              1|     1.1|         1|  164|  161|           1| 5.5|  0.0|    0.5| 1.0| 0.0|       7.3|2017-01-09|11:38:20|2017-01-09|11:42:05|    1| morning|     11|[1.0,1.1,1.0,164....|
|    236|Manhattan|Upper East Side N...|     75|Manhattan|   East Harlem South|              1|     1.1|         1|  236|   75|           1| 6.0|  0.0|    0.5| 1.7| 0.0|       8.5|2017-01-09|11:52:13|2017-01-09|11:57:36|    1| morning|     11|[1.0,1.1,1.0,236....|
|    249|Manhattan|        West Village|    234|Manhattan|            Union Sq|              1|    0.02|         2|  249|  234|           2|52.0|  0.0|    0.5| 0.0| 0.0|      52.8|2017-01-01|00:00:00|2017-01-01|00:00:00|    1|midnight|      0|[1.0,0.02,2.0,249...|
|     48|Manhattan|        Clinton East|     48|Manhattan|        Clinton East|              1|     0.5|         1|   48|   48|           2| 4.0|  0.5|    0.5| 0.0| 0.0|       5.3|2017-01-01|00:00:02|2017-01-01|00:03:50|    1|midnight|      0|[1.0,0.5,1.0,48.0...|
|    186|Manhattan|Penn Station/Madi...|     36| Brooklyn|      Bushwick North|              4|    7.75|         1|  186|   36|           1|22.0|  0.5|    0.5|4.66| 0.0|     27.96|2017-01-01|00:00:02|2017-01-01|00:39:22|    1|midnight|      0|[4.0,7.75,1.0,186...|
|    162|Manhattan|        Midtown East|    161|Manhattan|      Midtown Center|              1|     0.8|         1|  162|  161|           1| 6.0|  0.5|    0.5|1.45| 0.0|      8.75|2017-01-01|00:00:03|2017-01-01|00:06:58|    1|midnight|      0|[1.0,0.8,1.0,162....|
|     48|Manhattan|        Clinton East|     50|Manhattan|        Clinton West|              2|     0.9|         1|   48|   50|           1| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:08:33|    1|midnight|      0|[2.0,0.9,1.0,48.0...|
|    140|Manhattan|     Lenox Hill East|     74|Manhattan|   East Harlem North|              5|    1.76|         1|  140|   74|           2| 7.0|  0.5|    0.5| 0.0| 0.0|       8.3|2017-01-01|00:00:05|2017-01-01|00:05:04|    1|midnight|      0|[5.0,1.76,1.0,140...|
|    138|   Queens|   LaGuardia Airport|    262|Manhattan|      Yorkville East|              1|    8.47|         1|  138|  262|           1|24.0|  0.5|    0.5|7.71|5.54|     38.55|2017-01-01|00:00:05|2017-01-01|00:15:36|    1|midnight|      0|[1.0,8.47,1.0,138...|
|    142|Manhattan| Lincoln Square East|    236|Manhattan|Upper East Side N...|              2|     2.4|         1|  142|  236|           2|10.5|  0.5|    0.5| 0.0| 0.0|      11.8|2017-01-01|00:00:06|2017-01-01|00:11:56|    1|midnight|      0|[2.0,2.4,1.0,142....|
|    161|Manhattan|      Midtown Center|    265|  Unknown|                  NA|              2|    12.6|         5|  161|  265|           1|60.0|  0.0|    0.0|10.0| 0.0|      70.3|2017-01-01|00:00:06|2017-01-01|00:23:37|    1|midnight|      0|[2.0,12.6,5.0,161...|
|    234|Manhattan|            Union Sq|    186|Manhattan|Penn Station/Madi...|              1|     0.9|         1|  234|  186|           1| 7.0|  0.5|    0.5|2.05| 0.0|     10.35|2017-01-01|00:00:06|2017-01-01|00:08:53|    1|midnight|      0|[1.0,0.9,1.0,234....|
|    141|Manhattan|     Lenox Hill West|    107|Manhattan|            Gramercy|              4|    2.43|         1|  141|  107|           1| 9.5|  0.5|    0.5| 2.7| 0.0|      13.5|2017-01-01|00:00:06|2017-01-01|00:09:30|    1|midnight|      0|[4.0,2.43,1.0,141...|
|     79|Manhattan|        East Village|    163|Manhattan|       Midtown North|              2|     2.6|         1|   79|  163|           1|12.5|  0.5|    0.5|2.76| 0.0|     16.56|2017-01-01|00:00:06|2017-01-01|00:16:05|    1|midnight|      0|[2.0,2.6,1.0,79.0...|
|    148|Manhattan|     Lower East Side|     36| Brooklyn|      Bushwick North|              5|    4.25|         1|  148|   36|           2|16.5|  0.5|    0.5| 0.0| 0.0|      17.8|2017-01-01|00:00:06|2017-01-01|00:18:12|    1|midnight|      0|[5.0,4.25,1.0,148...|
|     48|Manhattan|        Clinton East|     68|Manhattan|        East Chelsea|              1|    0.65|         1|   48|   68|           1| 6.5|  0.5|    0.5| 1.7| 0.0|       9.5|2017-01-01|00:00:07|2017-01-01|00:07:42|    1|midnight|      0|[1.0,0.65,1.0,48....|
|    230|Manhattan|Times Sq/Theatre ...|    148|Manhattan|     Lower East Side|              1|    3.42|         1|  230|  148|           1|22.5|  0.5|    0.5| 0.0| 0.0|      23.8|2017-01-01|00:00:09|2017-01-01|00:34:21|    1|midnight|      0|[1.0,3.42,1.0,230...|
|    186|Manhattan|Penn Station/Madi...|    232|Manhattan|Two Bridges/Sewar...|              1|     6.6|         1|  186|  232|           2|23.0|  0.5|    0.5| 0.0| 0.0|      24.3|2017-01-01|00:00:10|2017-01-01|00:24:52|    1|midnight|      0|[1.0,6.6,1.0,186....|
+-------+---------+--------------------+-------+---------+--------------------+---------------+--------+----------+-----+-----+------------+----+-----+-------+----+----+----------+----------+--------+----------+--------+-----+--------+-------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.clustering import KMeans

kmeans = KMeans(k=3, seed=1)  # 2 clusters here
model = kmeans.fit(new_df.select('features'))

In [ ]:
transformed = model.transform(new_df)
transformed.show()

In [ ]:
# load function
from pyspark.sql import functions as F
import pandas as pd

# aggregate data
stat = transformed.groupby('prediction').agg(
    F.avg(F.col('total_fare')).alias('avg_fare'),
    F.avg(F.col('distance')).alias('avg_distance'),
    F.avg(F.col('passenger_count')).alias('avg_passenger'),
    F.avg(F.col('tip')).alias('avg_tip'),
    F.variance(F.col('total_fare')).alias('var_fare'),
    F.variance(F.col('distance')).alias('var_distance'),
    F.variance(F.col('passenger_count')).alias('var_passenger'),
    F.variance(F.col('tip')).alias('var_tip')
)
stat.toPandas().to_csv('Cluster_stat_jan.csv', index=False)
stat.show()

In [ ]:
vertexP = df_joined.select("PUZone").distinct()
vertexP = vertexP.selectExpr("PUZone as Zone")
print(vertexP.count())
vertexD = df_joined.select("DOZone").distinct()
vertexD = vertexD.selectExpr("DOZone as Zone")
print(vertexD.count())
if vertexD.count() > vertexP.count():
  vertex = vertexD.unionAll(vertexP)
else : vertex = vertexP.unionAll(vertexD)
print(vertex.count())
vertex = vertex.select("Zone").distinct()
print(vertex.count())
vertex.toPandas().to_csv('Zones.csv', index=False)
vertex.show()

In [ ]:
edge = df_joined.groupBy('PUZone', 'DOZone').count()
edge = edge.selectExpr("PUZone as src", "DOZone as dst", "count as weight")
edge.toPandas().to_csv('Edges_jan.csv', index=False)
edge.show()

In [ ]:
#####################################################  
### Feb

jan = spark.read.csv('../bigdata/yellow_tripdata_2017-02.csv', header=True, inferSchema = True)
jan = jan.drop('VendorID','store_and_fwd_flag' ,'improvement_surcharge')

import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

In [ ]:
df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")

In [ ]:
byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(2))

Grapht = df_joined.select('PUZone', 'DOZone', 'month')
Grapht = Grapht.groupBy('PUZone', 'DOZone').count()
Grapht = Grapht.withColumn("month",lit(2))
Grapht = Grapht.selectExpr("PUZone as src", "DOZone as dst", "count as count", "month as month")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
Grapht = Grapht.join(byTotalFare,[Grapht.src==byTotalFare.PUZone, Grapht.dst==byTotalFare.DOZone],'left_outer')
Grapht = Grapht.drop('PUZone', 'DOZone')
Grapht = Grapht.withColumnRenamed("avg(total_fare)", "avg_fare")
Graph = Graph.union(Grapht)

In [ ]:
########## max distance
max_distt = df_joined.orderBy('distance', ascending=False)
max_distt = max_distt.limit(10)
max_distt = max_distt.withColumnRenamed("distance", "max_distance")
max_distt = max_distt.select('PUZone', 'DOZone', 'max_distance', 'month')
max_dist = max_dist.union(max_distt)

In [ ]:
######max fare
max_faret = df_joined.orderBy('total_fare', ascending=False)
max_faret = max_faret.limit(10)
max_faret = max_faret.withColumnRenamed("total_fare", "max_fare")
max_faret = max_faret.select('PUZone', 'DOZone', 'max_fare', 'month')
max_fare = max_fare.union(max_faret)

In [ ]:
#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))

In [ ]:
###### by time
PUByTimet = df_joined.groupBy('PUHour', 'PUZone', 'month').count()
PUByTimet = PUByTimet.orderBy('count', ascending=False)
PUByTime = PUByTime.union(PUByTimet)

In [ ]:
####### best PU locs
best_locst = df_joined.groupBy('PUZone', 'month').count()
best_locs = best_locs.union(best_locst)

In [ ]:
###############################################
#### March

jan = spark.read.csv('../bigdata/yellow_tripdata_2017-03.csv', header=True, inferSchema = True)
jan = jan.drop('VendorID','store_and_fwd_flag' ,'improvement_surcharge')

import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

In [ ]:
df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")

In [ ]:
byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(3))

Grapht = df_joined.select('PUZone', 'DOZone', 'month')
Grapht = Grapht.groupBy('PUZone', 'DOZone').count()
Grapht = Grapht.withColumn("month",lit(3))
Grapht = Grapht.selectExpr("PUZone as src", "DOZone as dst", "count as count", "month as month")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
Grapht = Grapht.join(byTotalFare,[Grapht.src==byTotalFare.PUZone, Grapht.dst==byTotalFare.DOZone],'left_outer')
Grapht = Grapht.drop('PUZone', 'DOZone')
Grapht = Grapht.withColumnRenamed("avg(total_fare)", "avg_fare")
Graph = Graph.union(Grapht)

In [ ]:
########## max distance
max_distt = df_joined.orderBy('distance', ascending=False)
max_distt = max_distt.limit(10)
max_distt = max_distt.withColumnRenamed("distance", "max_distance")
max_distt = max_distt.select('PUZone', 'DOZone', 'max_distance', 'month')
max_dist = max_dist.union(max_distt)

In [ ]:
######max fare
max_faret = df_joined.orderBy('total_fare', ascending=False)
max_faret = max_faret.limit(10)
max_faret = max_faret.withColumnRenamed("total_fare", "max_fare")
max_faret = max_faret.select('PUZone', 'DOZone', 'max_fare', 'month')
max_fare = max_fare.union(max_faret)

In [ ]:
#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))

In [ ]:
###### by time
PUByTimet = df_joined.groupBy('PUHour', 'PUZone', 'month').count()
PUByTimet = PUByTimet.orderBy('count', ascending=False)
PUByTime = PUByTime.union(PUByTimet)

In [ ]:
####### best PU locs
best_locst = df_joined.groupBy('PUZone', 'month').count()
best_locs = best_locs.union(best_locst)

In [ ]:
#################################################################
##### April
jan = spark.read.csv('../bigdata/yellow_tripdata_2017-03.csv', header=True, inferSchema = True)
jan = jan.drop('VendorID','store_and_fwd_flag' ,'improvement_surcharge')

import pyspark.sql.functions

split_col = pyspark.sql.functions.split(jan['tpep_pickup_datetime'], ' ')
jan = jan.withColumn('PUDate', split_col.getItem(0))
jan = jan.withColumn('PUTime', split_col.getItem(1))
split_col = pyspark.sql.functions.split(jan['tpep_dropoff_datetime'], ' ')
jan = jan.withColumn('DODate', split_col.getItem(0))
jan = jan.withColumn('DOTime', split_col.getItem(1))

jan = jan.drop('tpep_pickup_datetime','tpep_dropoff_datetime')

In [ ]:
df_joined = jan.join(loc,[jan.PULocationID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("LocationID as PULocID", "Borough as PUBorough", "Zone as PUZone", "passenger_count as passenger_count", "trip_distance as distance", "RateCodeID as RateCodeID", "PULocationID as srcID", "DOLocationID as dstID", "payment_type as payment_type", "fare_amount as fare", "extra as extra", "mta_tax as mta_tax", "tip_amount as tip", "tolls_amount as toll", "total_amount as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")
df_joined = df_joined.join(loc,[df_joined.dstID==loc.LocationID],'left_outer')
df_joined = df_joined.selectExpr("PULocID as PULocID", "PUBorough as PUBorough", "PUZone as PUZone", "LocationID as DOLocID", "Borough as DOBorough", "Zone as DOZone", "passenger_count as passenger_count", "distance as distance", "RateCodeID as RateCodeID", "srcID as srcID", "dstID as dstID", "payment_type as payment_type", "fare as fare", "extra as extra", "mta_tax as mta_tax", "tip as tip", "toll as toll", "total_fare as total_fare", "PUDate as PUDate", "PUTime as PUTime", "DODate as DODate", "DOTime as DOTime")

In [ ]:
byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
byDistance = df_joined.groupBy('PUZone', 'DOZone').max('distance')

from pyspark.sql.functions import lit
df_joined = df_joined.withColumn("month",lit(3))

Grapht = df_joined.select('PUZone', 'DOZone', 'month')
Grapht = Grapht.groupBy('PUZone', 'DOZone').count()
Grapht = Grapht.withColumn("month",lit(3))
Grapht = Grapht.selectExpr("PUZone as src", "DOZone as dst", "count as count", "month as month")

byTotalFare = df_joined.groupBy('PUZone', 'DOZone').avg('total_fare')
Grapht = Grapht.join(byTotalFare,[Grapht.src==byTotalFare.PUZone, Grapht.dst==byTotalFare.DOZone],'left_outer')
Grapht = Grapht.drop('PUZone', 'DOZone')
Grapht = Grapht.withColumnRenamed("avg(total_fare)", "avg_fare")
Graph = Graph.union(Grapht)

In [ ]:
########## max distance
max_distt = df_joined.orderBy('distance', ascending=False)
max_distt = max_distt.limit(10)
max_distt = max_distt.withColumnRenamed("distance", "max_distance")
max_distt = max_distt.select('PUZone', 'DOZone', 'max_distance', 'month')
max_dist = max_dist.union(max_distt)

In [ ]:
######max fare
max_faret = df_joined.orderBy('total_fare', ascending=False)
max_faret = max_faret.limit(10)
max_faret = max_faret.withColumnRenamed("total_fare", "max_fare")
max_faret = max_faret.select('PUZone', 'DOZone', 'max_fare', 'month')
max_fare = max_fare.union(max_faret)

In [ ]:
#### manipulate time
split_col = pyspark.sql.functions.split(df_joined['PUTime'], ':')
df_joined = df_joined.withColumn('PUHour', split_col.getItem(0))

from pyspark.sql.functions import when

df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=0) & (df_joined["PUHour"] <6), 'midnight').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=6) & (df_joined["PUHour"] <12), 'morning').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=12) & (df_joined["PUHour"] <18), 'afternoon').otherwise(df_joined["PUHour"]))
df_joined = df_joined.withColumn("PUHour", when((df_joined["PUHour"] >=18) & (df_joined["PUHour"] <=23), 'evening').otherwise(df_joined["PUHour"]))

In [ ]:
###### by time
PUByTimet = df_joined.groupBy('PUHour', 'PUZone', 'month').count()
PUByTimet = PUByTimet.orderBy('count', ascending=False)
PUByTime = PUByTime.union(PUByTimet)

In [ ]:
####### best PU locs
best_locst = df_joined.groupBy('PUZone', 'month').count()
best_locs = best_locs.union(best_locst)

In [ ]:
import pandas as pd
Graph.toPandas().to_csv('Graph.csv', index=False)

In [ ]:
max_dist.toPandas().to_csv('Max_distance.csv', index=False)

In [ ]:
max_fare.toPandas().to_csv('Max_fare.csv', index=False)

In [ ]:
PUByTime.toPandas().to_csv('PickUpByTime.csv', index=False)

In [ ]:
best_locs.toPandas().to_csv('Best_PickUp_Locs.csv', index=False)

In [ ]:
spark.stop()